<div class="wrap2 padded">
    <main>
        <div id="breadcrumbs">
            <span><a routerLink="/ru">Главная</a></span>
            <span><a routerLink="/ru/cat/space">Космос</a></span>
            <span>Заголовок статьи</span>
        </div>
        <h1>Заголовок статьи</h1>
        <article>  
            <div id="a-details2">
                <div id="a-socnets">
                    <div class="a-socnet fb"><span></span></div>
                    <div class="a-socnet tw"><span></span></div>
                </div>
                <div id="a-author">
                    <div id="a-author-ava" [style.background-image]="'url(/assets/images/users/ava-test.gif)'"></div>
                    <div id="a-author-name"><a href="#">Admin</a></div>
                </div>
            </div>          
            <div id="a-details1">
                <div id="a-cat"><a routerLink="/ru/cat/space">Космос</a></div>
                <div id="a-date">8 февраля 2020, 23:20</div>
                <div id="a-comments">720</div>
                <div id="a-rating">
                    <div id="ar-stars">
                        <span class="filled"></span>
                        <span class="filled"></span>
                        <span class="filled"></span>
                        <span class="filled"></span>
                        <span></span>
                    </div>
                    <div id="ar-info">4.33 (5 гол.)</div>
                </div>
                <div id="a-views">501</div>
            </div>            
            <img src="/assets/images/test1.jpg">
            <div class="content">
                <p>The world’s developed economies have got a new stage of unemployment – its level is back down to before financial crisis. According to data from OECD unemployment level fell 5.6pc in October across the 35 countries, while in 2010 its peak was 8.5pc. The eurozone overall still suffers a jobless rate of 8.8pc, below its 12.1pc peak in 2013 but above its 2008 level of 7.4pc. In the countries with very low jobless rate it is expected that pay growth will start in near future. Peter Dixon, Head Economist at Commerzbank states “It certainly appears that there have been structural shifts in the labour market across the industrialised world with the result that wages are less responsive for any given rate of unemployment.” Economists forecast that on a longer-term perspective labour force participation has a strong potential and will be beneficial for world’s economy.</p>
                <p>When someone says their computer is low on memory… what exactly do they mean? Are they running out of space to save files, or is the computer running slow?</p>
                <p>System RAM (Random Access Memory) – this is generally in the range of 256 megabytes to 8 gigabytes on recent systems. This is where programs reside and run from while the computer is running. When you shut it down, it gets cleared – temporary usage, so to speak.</p>
                <p>Hard Drive Space – this is generally 40 gigabytes and up – recently into the range of terabytes of storage. This is where your files are written to and read from. This storage is saved even when the computer is off. For example, you download 100 music files and save them. These get written to your Hard Drive, not system memory.</p>
                <p>When people tell me that our President has delivered his 7th State of the Union speech recently, I always correct their mistake and tell it was eighth, in fact. On February 24, 2009, the start of Barack Obama’s 2nd month in office, he made an extensive speech on then ongoing Great Recession crisis. He tried to show what his personal vision for a path out was and why it was aligned with a $787 billion stimulus law that was passed that same day. Also, Mr. President talked foreign politics on that same occasion.</p>
                <p>The world’s developed economies have got a new stage of unemployment – its level is back down to before financial crisis. According to data from OECD unemployment level fell 5.6pc in October across the 35 countries, while in 2010 its peak was 8.5pc. The eurozone overall still suffers a jobless rate of 8.8pc, below its 12.1pc peak in 2013 but above its 2008 level of 7.4pc. In the countries with very low jobless rate it is expected that pay growth will start in near future. Peter Dixon, Head Economist at Commerzbank states “It certainly appears that there have been structural shifts in the labour market across the industrialised world with the result that wages are less responsive for any given rate of unemployment.” Economists forecast that on a longer-term perspective labour force participation has a strong potential and will be beneficial for world’s economy.</p>
                <p>When someone says their computer is low on memory… what exactly do they mean? Are they running out of space to save files, or is the computer running slow?</p>
                <p>System RAM (Random Access Memory) – this is generally in the range of 256 megabytes to 8 gigabytes on recent systems. This is where programs reside and run from while the computer is running. When you shut it down, it gets cleared – temporary usage, so to speak.</p>
                <p>Hard Drive Space – this is generally 40 gigabytes and up – recently into the range of terabytes of storage. This is where your files are written to and read from. This storage is saved even when the computer is off. For example, you download 100 music files and save them. These get written to your Hard Drive, not system memory.</p>
                <p>When people tell me that our President has delivered his 7th State of the Union speech recently, I always correct their mistake and tell it was eighth, in fact. On February 24, 2009, the start of Barack Obama’s 2nd month in office, he made an extensive speech on then ongoing Great Recession crisis. He tried to show what his personal vision for a path out was and why it was aligned with a $787 billion stimulus law that was passed that same day. Also, Mr. President talked foreign politics on that same occasion.</p>
            </div>
            <div id="a-tags">
                <ul>
                    <li>Теги</li>
                    <li>Iphone</li>
                    <li>Tesla</li>
                    <li>Гаджеты</li>
                </ul>
            </div>
        </article>
        <!-- other articles -->
        <div id="other">
            <div id="other-head">
                <div id="other-title">Другие публикации</div>
                <div id="other-types">
                    <ul>
                        <li class="active">В данной рубрике</li>
                        <li>Данного автора</li>
                    </ul>
                </div>
            </div>
            <div id="other-articles">
                <article>
                    <div class="oa-left"><a href="#"><img src="/assets/images/test1.jpg"></a></div>
                    <div class="oa-right">
                        <div class="oa-title"><a href="#">Hard Drive Space – this is generally 40 gigabytes and up – recently into the range of terabytes</a></div>
                        <div class="oa-date">8 февраля 2020, 11:30</div>
                    </div>
                </article>
                <article>
                    <div class="oa-left"><a href="#"><img src="/assets/images/test1.jpg"></a></div>
                    <div class="oa-right">
                        <div class="oa-title"><a href="#">Hard Drive Space – this is generally 40 gigabytes and up – recently into the range of terabytes</a></div>
                        <div class="oa-date">8 февраля 2020, 11:30</div>
                    </div>
                </article>
                <article>
                    <div class="oa-left"><a href="#"><img src="/assets/images/test1.jpg"></a></div>
                    <div class="oa-right">
                        <div class="oa-title"><a href="#">Hard Drive Space – this is generally 40 gigabytes and up – recently into the range of terabytes</a></div>
                        <div class="oa-date">8 февраля 2020, 11:30</div>
                    </div>
                </article>
                <article>
                    <div class="oa-left"><a href="#"><img src="/assets/images/test1.jpg"></a></div>
                    <div class="oa-right">
                        <div class="oa-title"><a href="#">Hard Drive Space – this is generally 40 gigabytes and up – recently into the range of terabytes</a></div>
                        <div class="oa-date">8 февраля 2020, 11:30</div>
                    </div>
                </article>
                <article>
                    <div class="oa-left"><a href="#"><img src="/assets/images/test1.jpg"></a></div>
                    <div class="oa-right">
                        <div class="oa-title"><a href="#">Hard Drive Space – this is generally 40 gigabytes and up – recently into the range of terabytes</a></div>
                        <div class="oa-date">8 февраля 2020, 11:30</div>
                    </div>
                </article>
                <article>
                    <div class="oa-left"><a href="#"><img src="/assets/images/test1.jpg"></a></div>
                    <div class="oa-right">
                        <div class="oa-title"><a href="#">Hard Drive Space – this is generally 40 gigabytes and up – recently into the range of terabytes</a></div>
                        <div class="oa-date">8 февраля 2020, 11:30</div>
                    </div>
                </article>
            </div>            
        </div>
        <!-- add comment -->
        <div id="add-comment">
            <div id="ac-head">Добавить комментарий</div>
            <form>
                <div class="form-row-1cell">
                    <div class="form-cell">
                        <label>Поля, отмеченные знаком <span class="red">*</span>, обязательны для заполнения</label>
                    </div>
                </div>
                <div class="form-row-1cell">
                    <div class="form-cell">
                        <label class="block">Комментарий</label>
                        <textarea name="content"></textarea>
                        <div class="form-error">Ошибка такая-то</div>
                    </div>
                </div>
                <div class="form-row-2cell">
                    <div class="form-cell">
                        <label class="block required">Имя</label>
                        <input type="text" name="name" required>
                        <div class="form-error">Ошибка такая-то</div>
                    </div>
                    <div class="form-cell">
                        <label class="block required">E-mail</label>
                        <input type="email" name="email" required>
                        <div class="form-error">Ошибка такая-то</div>
                    </div>
                </div>
                <div class="form-row-1cell">
                    <div class="form-cell">
                        <input type="checkbox" name="register" id="comment-register">
                        <label for="comment-register">Зарегистрироваться</label>
                    </div>
                </div>
                <button>Отправить</button>
            </form>
        </div>
        <div id="comments">
            <div id="comments-head">Комментарии</div>
            <div class="comment">
                <div class="comment-left">
                    <div class="comment-imgwrap" [style.background-image]="'url(/assets/images/users/ava-test.gif)'"></div>
                </div>                    
                <div class="comment-right">
                    <div class="comment-author">Some user name</div>
                    <div class="comment-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</div>
                    <div class="comment-date">8 февраля 2020, 23:20</div>
                    <div class="comment-dash">
                        <div class="comment-action comment-like">45</div>
                        <div class="comment-action comment-dislike">156</div>
                        <div class="comment-action comment-answer">Ответить</div>
                        <div class="comment-action comment-quote">Цитировать</div>
                    </div>
                </div>
            </div>
            <div class="comment">
                <div class="comment-left">
                    <div class="comment-imgwrap" [style.background-image]="'url(/assets/images/users/ava-test.gif)'"></div>
                </div>                    
                <div class="comment-right">
                    <div class="comment-author">Some user name</div>
                    <div class="comment-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</div>
                    <div class="comment-date">8 февраля 2020, 23:20</div>
                    <div class="comment-dash">
                        <div class="comment-action comment-like">45</div>
                        <div class="comment-action comment-dislike">156</div>
                        <div class="comment-action comment-answer">Ответить</div>
                        <div class="comment-action comment-quote">Цитировать</div>
                    </div>
                </div>
            </div>
            <div class="comment">
                <div class="comment-left">
                    <div class="comment-imgwrap" [style.background-image]="'url(/assets/images/users/ava-test.gif)'"></div>
                </div>                    
                <div class="comment-right">
                    <div class="comment-author">Some user name</div>
                    <div class="comment-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</div>
                    <div class="comment-date">8 февраля 2020, 23:20</div>
                    <div class="comment-dash">
                        <div class="comment-action comment-like">45</div>
                        <div class="comment-action comment-dislike">156</div>
                        <div class="comment-action comment-answer">Ответить</div>
                        <div class="comment-action comment-quote">Цитировать</div>
                    </div>
                </div>
            </div>                      
        </div>
    </main>
    <aside>
        <the-sidebar></the-sidebar>
    </aside>  
</div>