<div class="populararticles">
    <div class="pa-left">
        <ng-container *ngIf="ready">
            <article>
                <figure [style.background-image]="leftArticle.img ? 'url(/assets/images/articles/'+leftArticle.img+')' : 'url(/assets/images/templates/visitor/default/noimage.jpg)'" routerLink="/{{currentLang.slug}}/catalogue/{{leftArticle.category.slug}}/{{leftArticle.slug}}">
                    <div class="pal-overlay"></div>
                    <div class="pal-cat"><a routerLink="/{{currentLang.slug}}/catalogue/{{leftArticle.category.slug}}" [innerHTML]="leftArticle.category.name[currentLang._id]"></a></div>
                </figure>
                <div class="pal-date">{{leftArticle.formatedDate(currentLang)}}</div>
                <div class="pal-title"><a routerLink="/{{currentLang.slug}}/catalogue/{{leftArticle.category.slug}}/{{leftArticle.slug}}" [innerHTML]="leftArticle.name"></a></div>
                <div class="pal-short" [innerHTML]="leftArticle.contentshort"></div>
            </article>        
        </ng-container>        
        <ng-container *ngIf="!ready">
            <article class="loading"><figure></figure><label></label><label></label><label></label></article>
        </ng-container>
    </div>
    <div class="pa-right">
        <ng-container *ngIf="ready">
            <article *ngFor="let a of rightArticles">
                <div class="par-date">{{a.formatedDate(currentLang)}}</div>
                <div class="par-title"><a routerLink="/{{currentLang.slug}}/catalogue/{{a.category.slug}}/{{a.slug}}" [innerHTML]="a.name"></a></div>
            </article>
        </ng-container>
        <ng-container *ngIf="!ready">
            <article class="loading"><label></label><label></label></article>
            <article class="loading"><label></label><label></label></article>            
        </ng-container>        
    </div>
</div>
