<footer>
    <div id="f-content">
        <div id="f-left">
            <div id="f-logo" routerLink="/{{currentLang.slug}}">
                <div id="f-logo-top"><span>{{currentLang.s('sitename1')}}</span><span>{{currentLang.s('sitename2')}}</span></div>
                <div id="f-logo-bottom">{{currentLang.s('sitename3')}}</div>
            </div>
        </div>
        <div id="f-right">
            <div id="f-about-title" [innerHTML]="currentLang.s('about-title')"></div>
            <div id="f-about-text" [innerHTML]="currentLang.s('about-content')"></div>
            <nav>
                <ul>
                    <li *ngFor="let p of pages"><a routerLink="/{{currentLang.slug}}/{{p.slug}}" [innerHTML]="p.name[currentLang._id]" [class]="url[2] === p.slug ? 'active' : ''"></a></li>                                            
                </ul>
            </nav>
        </div>			
    </div>
</footer>
