<div class="apd">
    <ng-container *ngIf="ready">                
        <div class="selected-date" [class.active]="selectedDateActive">{{selectedDateFormat()}}</div>
        <div class="selected-data" [class.active]="selectedDataActive">{{selectedDataFormat()}}</div>
        <ng-container *ngIf="allAreNull">
            <svg viewBox="0 0 100 100">
                <path *ngFor="let r of radiuses; let i = index;" [attr.d]="sector(50, 50, radius, i*2*PI/7, (i+1)*2*PI/7)"></path>            
            </svg>
        </ng-container>
        <ng-container *ngIf="!allAreNull">
            <svg viewBox="0 0 100 100">
                <path 
                    *ngFor="let r of radiuses; let i = index;" 
                    [attr.d]="sector(50, 50, r, i*2*PI/7, (i+1)*2*PI/7)" 
                    (mouseover)="selectedDate = days[i]; selectedData = data[i]; selectedDateActive = selectedDataActive = true;" 
                    (mouseout)="selectedDateActive = selectedDataActive = false;"
                ></path>
                <ng-container *ngFor="let d of data; let i = index;">
                    <text *ngIf="d" [attr.x]="polarToCartesian(50, 50, radiuses[i]+7, (0.5+i)*2*PI/7).x" [attr.y]="polarToCartesian(50, 50, radiuses[i]+7, (0.5+i)*2*PI/7).y">{{d}}</text>
                </ng-container>                
            </svg>        
        </ng-container>
    </ng-container>
    <ng-container *ngIf="!ready">
        <div class="reloading"><span></span></div>
    </ng-container>        
</div>
