@import "./var";

.tabs {
    border-bottom: 1px $color-grey-superlight solid; margin: 0 0 25px 0;
    ul {
        margin: 0; padding: 0; list-style: none; display: flex; flex-wrap: wrap;
        li {
            @media (min-width:0) {margin-right: 10px;}
            @media (min-width:1000px) {margin-right: 30px;}    
            margin-bottom: 10px;
            span {
                text-decoration: none; color: $color-main; font-size: 12px; letter-spacing: 1px; display: inline-block; position: relative; cursor: pointer;
                &.disabled {cursor: inherit; pointer-events: none;}
                &::after {
                    @media (min-width:0) {top: 14px;}
                    @media (min-width:1000px) {top: 30px;}            
                    display: block; height: 1px; background-color: rgba(0,0,0,0); content: " "; position: absolute; width:100%; transition: background-color 0.3s ease 0s; pointer-events: none;
                }
                &:hover, &.active {
                    color: $color-blue;
                    &::after {background-color: $color-blue;}
                }                    
            }                
        }
    }
}