<div class="wrap2 padded">    
    <main class="full">   
        <div id="breadcrumbs">
            <span><a routerLink="/ru">Главная</a></span>
            <span>Статическая страница</span>
        </div>     
        <h1>Статическая страница</h1>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, ea altera alienum sea, no vero velit adipisci qui, duo quas recusabo argumentum ut. Nobis alienum pri ei. Ea eos doctus tamquam, ea vim clita gloriatur. Eu omnis imperdiet persequeris vel, in voluptatum referrentur vis. Nec fugit persius ei, eos decore nostrud pericula ea, ei sit sonet soluta iuvaret.</p>
            <p>Has tation conceptam cu, nam facer tantas labores ne. Mel in erat virtute, ei pri everti sententiae sadipscing, impetus vocibus vituperatoribus eu pro. Cu mea natum ridens qualisque, dico inani an eos. Mundi audiam copiosae in ius, simul consetetur qui te.</p>
            <p>Sea eu prima malorum copiosae, no tempor assueverit scripserit quo. Ius duis nominavi disputationi cu, cu saepe mentitum evertitur eos, an ius molestie scriptorem. Soluta iracundia ex qui, nostrud scaevola ne mel, tota congue fastidii his ei. Partem utroque eum id, ei mea tota iudico referrentur, id pro ferri doctus.</p>
            <p>Vis enim harum legendos cu, no quem verear expetenda has. Sed ex viris laoreet. Duo brute perfecto eu, sit lorem rationibus in. Delenit conceptam conclusionemque quo ex.</p>
            <p>Nibh idque nec an. Nec ad etiam nostrum facilisi, erat prompta moderatius ea mel, usu te quidam dictas dissentiet. At has solum aperiam perfecto. Veri harum vocibus has cu.</p>
        </div>
    </main>
</div>