@import "../../../common.styles/_var";

article {
    img {width:100%; height: auto; margin: 0 0 15px 0;}
    #a-details1 {
        display: flex; align-items: center; flex-wrap: wrap; margin-bottom: 10px;
        #a-cat {
            @media (min-width:0) {margin-right: 10px;}
            @media (min-width:640px) {margin-right: 20px;}   
            margin-bottom: 10px;
            a, a:visited {color: #fff; font-family: "teko", Arial, Helvetica, sans-serif; font-size: 18px; letter-spacing: 3px; text-transform: uppercase; text-decoration: none; display: inline-block; background-color: $color-blue; padding: 5px; transition: background-color 0.3s ease 0s; white-space: nowrap;}
            a:hover {background-color: $color-blue-dark;}            
        }
        #a-date {
            @media (min-width:0) {margin-right: 10px;}
            @media (min-width:640px) {margin-right: 20px;}     
            color: $color-grey-light; letter-spacing: 1px; white-space: nowrap; font-size: 12px; margin-bottom: 10px;
            &::before {font-family: "ionicons"; content: "\f2d1"; font-size: 16px; display: inline-block; margin-right: 5px;}
        }
        #a-comments {
            @media (min-width:0) {margin-right: 10px;}
            @media (min-width:640px) {margin-right: 20px;}
            font-size: 12px; color: $color-grey-light; white-space: nowrap; margin-bottom: 10px; 
            &::before {font-family: "ionicons"; content: "\f11a"; font-size: 16px; display: inline-block; margin-right: 5px;}
        }
        #a-rating {
            @media (min-width:0) {margin-right: 10px;}
            @media (min-width:640px) {margin-right: 20px;}
            display: flex; margin-bottom: 10px; align-items:center;
            #ar-stars {
                white-space: nowrap;
                span {
                    display: inline-block; margin-right: 3px; line-height: 12px; color: $color-yellow; cursor: pointer;
                    &:last-child {margin-right: 6px;}
                    &::after {font-family: "ionicons"; content: "\f3ae"; font-size: 16px;}
                    &.filled::after {content: "\f2fc";}
                    &.halffilled::after {content: "\f3ad";}
                    &:hover {
                        color: $color-yellow-light;
                        &::after {content: "\f2fc";}
                    }
                }
            }
            #ar-info {color: $color-grey-light; letter-spacing: 1px; white-space: nowrap; font-size: 12px; padding-top: 2px; }
        }
        #a-views {
            font-size: 12px; color: $color-grey-light; white-space: nowrap; margin-bottom: 10px;
            &::before {font-family: "ionicons"; content: "\f133"; font-size: 16px; display: inline-block; margin-right: 5px;}
        }
    }
    #a-details2 {
        margin: 0 0 20px 0; display: flex; align-items: center;
        #a-socnets {
            display: flex; margin-right: 15px; 
            .a-socnet {
                width:30px; height: 30px; border-radius: 15px; border:1px $color-grey-light solid; margin-right: 5px; cursor: pointer; color: $color-grey-light; text-align: center; font-size: 18px; line-height: 28px; transition: all 0.3s ease 0s;
                span::after {font-family: "ionicons";}
                &.fb {
                    &:hover {border-color: #3b5998; color: #3b5998;}                            
                    span::after {content: "\f231";}
                }    
                &.tw {
                    &:hover {border-color: #1DA1F2; color: #1DA1F2;}                            
                    span::after {content: "\f243";}
                }                        
            }                    
        }
        #a-author {
            display: flex; align-items: center;
            #a-author-ava {width:30px; height: 30px; border-radius: 15px; background-color: $color-blue; background-size: cover; background-position: center top; margin-right: 10px; cursor: pointer; font-size: 12px; color: #fff; display: flex; justify-content: center; align-items: center;}
            #a-author-name {
                font-size: 12px; letter-spacing: 1px;
                a, a:visited {text-decoration: none; color: $color-grey-light;}                        
                a:hover {color: $color-blue;}
            }            
        }            
    }
    #a-tags {
        margin-bottom: 80px;
        ul {
            margin: 0; padding: 0; list-style: none; display: flex; flex-wrap: wrap;
            li {
                font-size: 12px; margin-right: 10px; margin-bottom: 10px;
                &:first-child {background-color: #000; color: #fff; border: 1px #000 solid; padding: 5px 10px;}
                a, a:visited {display: flex; padding: 5px 10px;  color: $color-grey-light; text-decoration: none; transition: all 0.3s ease 0s; border:1px $color-grey-light solid;}
                a:hover {background-color: $color-blue; color: #fff; border-color: $color-blue;}                
            }
        }
    } 
    #a-source {
        text-align: right; margin: 0 0 20px 0; font-size: 12px; font-style: italic; color: $color-grey-light;
        a, a:visited {color: $color-grey-light; transition: color 0.3s ease 0s;}
        a:hover {color: $color-blue;}
    }
    &.loading {
        figure {padding-bottom: 50%; background-color: #f9f9f9; animation-name: loading-blink; animation-duration: 2s; animation-iteration-count: infinite; margin: 0 0 15px 0;}
        label {
            display: block; height: 30px; margin-bottom: 15px; background: #f9f9f9; animation-name: loading-blink; animation-duration: 2s; animation-iteration-count: infinite;
            &:nth-child(1) {width:50%;}
            &:nth-child(3) {width:30%;}
            &:nth-child(4) {width:50%;}
        }
    }   
}
