<div class="wrap2 padded">
    <main>
        <ng-container *ngIf="categoryReady && articleReady">
            <div id="breadcrumbs">
                <span><a routerLink="/{{currentLang.slug}}">{{currentLang.s('home')}}</a></span>
                <span><a routerLink="/{{currentLang.slug}}/catalogue/category/{{category.slug}}" [innerHTML]="category.name[currentLang._id]"></a></span>
                <span [innerHTML]="article.name"></span>
            </div>
            <h1 [innerHTML]="article.h1 || article.name"></h1>
            <!-- article -->
            <article>  
                <div id="a-details2">
                    <div id="a-socnets">
                        <div class="a-socnet fb" (click)="shareFb();"><span></span></div>
                        <div class="a-socnet tw" (click)="shareTw();"><span></span></div>
                    </div>
                    <div id="a-author" *ngIf="article.user">
                        <div id="a-author-ava" [style.background-image]="article.user.img_s ? 'url(/assets/images/users/'+article.user.img_s+')' : 'none'" routerLink="/{{currentLang.slug}}/catalogue/user/{{article.user._id}}">
                            <span *ngIf="!article.user.img_s">{{article.user.firstLetter}}</span>
                        </div>
                        <div id="a-author-name"><a routerLink="/{{currentLang.slug}}/catalogue/user/{{article.user._id}}" [innerHTML]="article.user.name"></a></div>
                    </div>
                </div> 
                <div id="a-details1">
                    <div id="a-cat"><a routerLink="/{{currentLang.slug}}/catalogue/category/{{category.slug}}" [innerHTML]="category.name[currentLang._id]"></a></div>
                    <div id="a-date">{{article.formatedDate(currentLang)}}</div>
                    <div id="a-comments">{{article.__commentsq}}</div>
                    <div id="a-rating">
                        <div id="ar-stars">
                            <span [class.filled]="article.formatedRating >= 1" (click)="vote(1);"></span>
                            <span [class.filled]="article.formatedRating >= 2" (click)="vote(2);"></span>
                            <span [class.filled]="article.formatedRating >= 3" (click)="vote(3);"></span>
                            <span [class.filled]="article.formatedRating >= 4" (click)="vote(4);"></span>
                            <span [class.filled]="article.formatedRating === 5" (click)="vote(5);"></span>
                        </div>
                        <div id="ar-info">{{article.formatedRating | number:'1.2-2'}} ({{article.votesq || 0}} {{currentLang.s('votes')}})</div>
                    </div>
                    <div id="a-views">{{article.viewsq}}</div>
                </div>
                <img src="/assets/images/articles/{{article.img}}" *ngIf="article.img">
                <div class="content" [innerHTML]="article.content"></div>
                <div id="a-tags" *ngIf="article.tags.length">
                    <ul>
                        <li [innerHTML]="currentLang.s('catalogue-article-tags')"></li>
                        <li *ngFor="let t of article.tags"><a [innerHTML]="t.name[currentLang._id]" routerLink="/{{currentLang.slug}}/catalogue/tag/{{t._id}}"></a></li>                        
                    </ul>
                </div>
            </article>
            <!-- other articles -->        
            <div id="other">
                <div id="other-head">
                    <div id="other-title">{{currentLang.s('catalogue-article-other')}}</div>
                    <div id="other-types">
                        <ul>
                            <li [class.active]="otherBy === 'category'" (click)="otherBy = 'category';">{{currentLang.s('catalogue-article-othercat')}}</li>
                            <li [class.active]="otherBy === 'user'" (click)="otherBy = 'user';">{{currentLang.s('catalogue-article-otheruser')}}</li>
                        </ul>
                    </div>
                </div>
                <div id="other-articles">
                    <ng-container *ngIf="otherBy === 'category'">
                        <ng-container *ngIf="articlesByCategoryReady">
                            <article *ngFor="let a of articlesByCategory">
                                <div class="oa-left"><a routerLink="/{{currentLang.slug}}/catalogue/category/{{category.slug}}/{{a.slug}}"><img [src]="a.img ? '/assets/images/articles/'+a.img : '/assets/images/templates/visitor/default/noimage.jpg'"></a></div>
                                <div class="oa-right">
                                    <div class="oa-title"><a routerLink="/{{currentLang.slug}}/catalogue/category/{{category.slug}}/{{a.slug}}" [innerHTML]="a.name"></a></div>
                                    <div class="oa-date">{{a.formatedDate(currentLang)}}</div>
                                </div>
                            </article>
                        </ng-container>                    
                    </ng-container>
                    <ng-container *ngIf="otherBy === 'user'">
                        <ng-container *ngIf="articlesByUserReady">
                            <article *ngFor="let a of articlesByUser">
                                <div class="oa-left"><a routerLink="/{{currentLang.slug}}/catalogue/category/{{a.category.slug}}/{{a.slug}}"><img [src]="a.img ? '/assets/images/articles/'+a.img : '/assets/images/templates/visitor/default/noimage.jpg'"></a></div>
                                <div class="oa-right">
                                    <div class="oa-title"><a routerLink="/{{currentLang.slug}}/catalogue/category/{{a.category.slug}}/{{a.slug}}" [innerHTML]="a.name"></a></div>
                                    <div class="oa-date">{{a.formatedDate(currentLang)}}</div>
                                </div>
                            </article>
                        </ng-container>                    
                    </ng-container>                
                </div>            
            </div>

            <!-- add comment -->
            <!--
            <div id="add-comment">
                <div id="ac-head">Добавить комментарий</div>
                <form>
                    <div class="form-row-1cell">
                        <div class="form-cell">
                            <label>Поля, отмеченные знаком <span class="red">*</span>, обязательны для заполнения</label>
                        </div>
                    </div>
                    <div class="form-row-1cell">
                        <div class="form-cell">
                            <label class="block">Комментарий</label>
                            <textarea name="content"></textarea>
                            <div class="form-error">Ошибка такая-то</div>
                        </div>
                    </div>
                    <div class="form-row-2cell">
                        <div class="form-cell">
                            <label class="block required">Имя</label>
                            <input type="text" name="name" required>
                            <div class="form-error">Ошибка такая-то</div>
                        </div>
                        <div class="form-cell">
                            <label class="block required">E-mail</label>
                            <input type="email" name="email" required>
                            <div class="form-error">Ошибка такая-то</div>
                        </div>
                    </div>
                    <button>Отправить</button>
                </form>
            </div>
            -->
            <!-- comments -->
            <!--
            <div id="comments">
                <div id="comments-head">Комментарии</div>
                <div class="comment">
                    <div class="comment-left">
                        <div class="comment-imgwrap" [style.background-image]="'url(/assets/images/users/ava-test.gif)'"></div>
                    </div>                    
                    <div class="comment-right">
                        <div class="comment-author">Some user name</div>
                        <div class="comment-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</div>
                        <div class="comment-date">8 февраля 2020, 23:20</div>
                        <div class="comment-dash">
                            <div class="comment-action comment-like">45</div>
                            <div class="comment-action comment-dislike">156</div>
                            <div class="comment-action comment-answer">Ответить</div>
                            <div class="comment-action comment-quote">Цитировать</div>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <div class="comment-left">
                        <div class="comment-imgwrap" [style.background-image]="'url(/assets/images/users/ava-test.gif)'"></div>
                    </div>                    
                    <div class="comment-right">
                        <div class="comment-author">Some user name</div>
                        <div class="comment-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</div>
                        <div class="comment-date">8 февраля 2020, 23:20</div>
                        <div class="comment-dash">
                            <div class="comment-action comment-like">45</div>
                            <div class="comment-action comment-dislike">156</div>
                            <div class="comment-action comment-answer">Ответить</div>
                            <div class="comment-action comment-quote">Цитировать</div>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <div class="comment-left">
                        <div class="comment-imgwrap" [style.background-image]="'url(/assets/images/users/ava-test.gif)'"></div>
                    </div>                    
                    <div class="comment-right">
                        <div class="comment-author">Some user name</div>
                        <div class="comment-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</div>
                        <div class="comment-date">8 февраля 2020, 23:20</div>
                        <div class="comment-dash">
                            <div class="comment-action comment-like">45</div>
                            <div class="comment-action comment-dislike">156</div>
                            <div class="comment-action comment-answer">Ответить</div>
                            <div class="comment-action comment-quote">Цитировать</div>
                        </div>
                    </div>
                </div>                      
            </div>
            -->
        </ng-container>
        <ng-container *ngIf="!(categoryReady && articleReady)">
            <article class="loading">
                <label></label>
                <label></label>
                <label></label>
                <figure></figure>
                <label></label>
                <label></label>
                <label></label>
                <label></label>
            </article>
        </ng-container>        
        
        

        
    </main>
    <aside>
        <the-sidebar></the-sidebar>
    </aside>  
</div>