<div class="wrap2 padded">
    <main>
        <ng-container *ngIf="categoryReady && articleReady">
            <div id="breadcrumbs">
                <span><a routerLink="/{{currentLang.slug}}">{{currentLang.s('home')}}</a></span>
                <span><a routerLink="/{{currentLang.slug}}/catalogue/category/{{category.slug}}" [innerHTML]="category.name[currentLang._id]"></a></span>
                <span [innerHTML]="article.name"></span>
            </div>
            <h1 [innerHTML]="article.h1 || article.name"></h1>
            <!-- article -->
            <article>  
                <div id="a-details2">
                    <div id="a-socnets">
                        <div class="a-socnet fb" (click)="shareFb();"><span></span></div>
                        <div class="a-socnet tw" (click)="shareTw();"><span></span></div>
                    </div>
                    <div id="a-author" *ngIf="article.user">
                        <div id="a-author-ava" [style.background-image]="article.user.img_s ? 'url(/assets/images/users/'+article.user.img_s+')' : 'none'" routerLink="/{{currentLang.slug}}/catalogue/user/{{article.user._id}}">
                            <span *ngIf="!article.user.img_s">{{article.user.firstLetter}}</span>
                        </div>
                        <div id="a-author-name"><a routerLink="/{{currentLang.slug}}/catalogue/user/{{article.user._id}}" [innerHTML]="article.user.name"></a></div>
                    </div>
                </div> 
                <div id="a-details1">
                    <div id="a-cat"><a routerLink="/{{currentLang.slug}}/catalogue/category/{{category.slug}}" [innerHTML]="category.name[currentLang._id]"></a></div>
                    <div id="a-date">{{article.formatedDate(currentLang)}}</div>
                    <div id="a-comments">{{article.__commentsq}}</div>
                    <div id="a-rating">
                        <div id="ar-stars">
                            <span [class.filled]="article.formatedRating >= 1" (click)="vote(1);"></span>
                            <span [class.filled]="article.formatedRating >= 2" (click)="vote(2);"></span>
                            <span [class.filled]="article.formatedRating >= 3" (click)="vote(3);"></span>
                            <span [class.filled]="article.formatedRating >= 4" (click)="vote(4);"></span>
                            <span [class.filled]="article.formatedRating === 5" (click)="vote(5);"></span>
                        </div>
                        <div id="ar-info">{{article.formatedRating | number:'1.2-2'}} ({{article.votesq || 0}} {{currentLang.s('votes')}})</div>
                    </div>
                    <div id="a-views">{{article.viewsq}}</div>
                </div>
                <img src="/assets/images/articles/{{article.img}}" *ngIf="article.img">
                <div class="content" [innerHTML]="article.content"></div>
                <div id="a-tags" *ngIf="article.tags.length">
                    <ul>
                        <li [innerHTML]="currentLang.s('catalogue-article-tags')"></li>
                        <li *ngFor="let t of article.tags"><a [innerHTML]="t.name[currentLang._id]" routerLink="/{{currentLang.slug}}/catalogue/tag/{{t._id}}"></a></li>                        
                    </ul>
                </div>
            </article>
            <!-- other articles -->   
            <other-articles [article]="article" [category]="category"></other-articles>            
            <!-- comment -->
            <article-comments [article]="article"></article-comments>            
        </ng-container>
        <ng-container *ngIf="!(categoryReady && articleReady)">
            <article class="loading">
                <label></label>
                <label></label>
                <label></label>
                <figure></figure>
                <label></label>
                <label></label>
                <label></label>
                <label></label>
            </article>
        </ng-container>
    </main>
    <aside>
        <the-sidebar></the-sidebar>
    </aside>  
</div>