@import "../../../common.styles/_var";

#other {
    margin-bottom: 80px;
    #other-head {
        display: flex; margin-bottom: 25px; border-bottom: 1px $color-grey-superlight solid; justify-content: space-between; flex-wrap: wrap;
        #other-title {font-family: "teko", Arial, Helvetica, sans-serif; font-size: 20px; margin-bottom: 10px;}
        #other-types {                            
            ul {
                margin: 0; padding: 0; list-style: none; display: flex; flex-wrap: wrap;
                li {
                    font-size: 12px; color:$color-grey-light; cursor: pointer; transition: color 0.3s ease 0s; margin-bottom: 10px; position: relative;
                    &:first-child {margin-right: 25px;}
                    &::after {
                        @media (min-width:0) {display: none;}
                        @media (min-width:1000px) {display: block;}            
                        top: 34px; height: 1px; background-color: rgba(0,0,0,0); content: " "; position: absolute; width:100%; transition: background-color 0.3s ease 0s; pointer-events: none;
                    }
                    &:hover, &.active {
                        color: $color-blue;
                        &::after {background-color: $color-blue;}
                    }
                }
            }
        }
    }
    #other-articles {
        @media (min-width:0) {display: block;}
        @media (min-width:640px) {display: grid;}
        grid-template-columns: 1fr 1fr; gap: 20px 30px; font-size: 14px;
        article {
            @media (min-width:0) {margin-bottom: 20px; display: block;}
            @media (min-width:360px) {display: flex;}
            @media (min-width:640px) {margin-bottom: 0;}
            justify-content: space-between;
            .oa-left {
                @media (min-width:0) {width:100%; margin-bottom: 10px;}
                @media (min-width:360px) {width:35%; margin-bottom: 0;}
                img {width: 100%; height: auto; margin: 0;}
            }
            .oa-right {
                @media (min-width:0) {width:100%;}
                @media (min-width:360px) {width:60%;}
                .oa-title {
                    margin-bottom: 10px; font-size: 14px; line-height: 20px;
                    a, a:visited {color: $color-main; text-decoration: none;}
                    a:hover {color: $color-blue;}
                }
                .oa-date {
                    color: $color-grey-light; letter-spacing: 1px; white-space: nowrap; font-size: 12px;
                    &::before {font-family: "ionicons"; content: "\f2d1"; font-size: 16px; display: inline-block; margin-right: 5px;}
                }
            }
        }
    }    
}