<articles-top [currentLang]="currentLang"></articles-top>

<div class="wrap2">
    <main>
        <h1>{{currentLang.s('home-mainnews')}}</h1>
        <articles-main [currentLang]="currentLang"></articles-main>

        <div class="h1">{{currentLang.s('home-popular')}}</div>
        <articles-popular [currentLang]="currentLang"></articles-popular>

        <div class="h1">{{currentLang.s('home-last')}}</div>
        <articles-last [currentLang]="currentLang"></articles-last>
    </main>
    <aside>
        <the-sidebar></the-sidebar>
    </aside>    
</div>
