<div class="content">
    <div class="content-head">
        <h1>Home</h1>
        <div class="content-dash">
            
        </div>
    </div>    
    <div class="data">
        [dashboard?]
        <!--
        <table class="data-table">
            <tr>
                <th><input type="checkbox"></th>
                <th class="wide"><label class="sorted-forward">Field name</label></th>
                <th><label class="sortable">Field name</label></th>
                <th><label class="sortable">Field name</label></th>
                <th><label class="sortable">Field name</label></th>
                <th><label class="sortable">Field name</label></th>
                <th>Actions</th>
            </tr>            
            <tr>
                <td><input type="checkbox"></td>
                <td><div class="dt-inputwrap"><input type="text" value="test"></div></td>
                <td><div class="dt-inputwrap"><input type="number" value="10"></div></td>
                <td><div class="dt-inputwrap"><input type="text" value="10"></div></td>
                <td><div class="dt-inputwrap"><select><option>Option 1</option><option>Option 2 long text</option></select></div></td>
                <td><div class="dt-inputwrap">Some value</div></td>
                <td>
                    <div class="dt-actions">
                        <div class="dt-btn edit" title="Edit"><span></span></div>
                        <div class="dt-btn delete" title="Delete"><span></span></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td><div class="dt-inputwrap"><input type="text" value="test"></div></td>
                <td><div class="dt-inputwrap"><input type="number" value="10"></div></td>
                <td><div class="dt-inputwrap"><input type="text" value="10"></div></td>
                <td><div class="dt-inputwrap"><select><option>Option 1</option><option>Option 2 long text</option></select></div></td>
                <td><div class="dt-inputwrap">Some value</div></td>
                <td>
                    <div class="dt-actions">
                        <div class="dt-btn edit" title="Edit"><span></span></div>
                        <div class="dt-btn delete" title="Delete"><span></span></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td><div class="dt-inputwrap"><input type="text" value="test"></div></td>
                <td><div class="dt-inputwrap"><input type="number" value="10"></div></td>
                <td><div class="dt-inputwrap"><input type="text" value="10"></div></td>
                <td><div class="dt-inputwrap"><select><option>Option 1</option><option>Option 2 long text</option></select></div></td>
                <td><div class="dt-inputwrap">Some value</div></td>
                <td>
                    <div class="dt-actions">
                        <div class="dt-btn edit" title="Edit"><span></span></div>
                        <div class="dt-btn delete" title="Delete"><span></span></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td><div class="dt-inputwrap"><input type="text" value="test"></div></td>
                <td><div class="dt-inputwrap"><input type="number" value="10"></div></td>
                <td><div class="dt-inputwrap"><input type="text" value="10"></div></td>
                <td><div class="dt-inputwrap"><select><option>Option 1</option><option>Option 2 long text</option></select></div></td>
                <td><div class="dt-inputwrap">Some value</div></td>
                <td>
                    <div class="dt-actions">
                        <div class="dt-btn edit" title="Edit"><span></span></div>
                        <div class="dt-btn delete" title="Delete"><span></span></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td><div class="dt-inputwrap"><input type="text" value="test"></div></td>
                <td><div class="dt-inputwrap"><input type="number" value="10"></div></td>
                <td><div class="dt-inputwrap"><input type="text" value="10"></div></td>
                <td><div class="dt-inputwrap"><select><option>Option 1</option><option>Option 2 long text</option></select></div></td>
                <td><div class="dt-inputwrap">Some value</div></td>
                <td>
                    <div class="dt-actions">
                        <div class="dt-btn edit" title="Edit"><span></span></div>
                        <div class="dt-btn delete" title="Delete"><span></span></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td><div class="dt-inputwrap"><input type="text" value="test"></div></td>
                <td><div class="dt-inputwrap"><input type="number" value="10"></div></td>
                <td><div class="dt-inputwrap"><input type="text" value="10"></div></td>
                <td><div class="dt-inputwrap"><select><option>Option 1</option><option>Option 2 long text</option></select></div></td>
                <td><div class="dt-inputwrap">Some value</div></td>
                <td>
                    <div class="dt-actions">
                        <div class="dt-btn edit" title="Edit"><span></span></div>
                        <div class="dt-btn delete" title="Delete"><span></span></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td><div class="dt-inputwrap"><input type="text" value="test"></div></td>
                <td><div class="dt-inputwrap"><input type="number" value="10"></div></td>
                <td><div class="dt-inputwrap"><input type="text" value="10"></div></td>
                <td><div class="dt-inputwrap"><select><option>Option 1</option><option>Option 2 long text</option></select></div></td>
                <td><div class="dt-inputwrap">Some value</div></td>
                <td>
                    <div class="dt-actions">
                        <div class="dt-btn edit" title="Edit"><span></span></div>
                        <div class="dt-btn delete" title="Delete"><span></span></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td><div class="dt-inputwrap"><input type="text" value="test"></div></td>
                <td><div class="dt-inputwrap"><input type="number" value="10"></div></td>
                <td><div class="dt-inputwrap"><input type="text" value="10"></div></td>
                <td><div class="dt-inputwrap"><select><option>Option 1</option><option>Option 2 long text</option></select></div></td>
                <td><div class="dt-inputwrap">Some value</div></td>
                <td>
                    <div class="dt-actions">
                        <div class="dt-btn edit" title="Edit"><span></span></div>
                        <div class="dt-btn delete" title="Delete"><span></span></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td><div class="dt-inputwrap"><input type="text" value="test"></div></td>
                <td><div class="dt-inputwrap"><input type="number" value="10"></div></td>
                <td><div class="dt-inputwrap"><input type="text" value="10"></div></td>
                <td><div class="dt-inputwrap"><select><option>Option 1</option><option>Option 2 long text</option></select></div></td>
                <td><div class="dt-inputwrap">Some value</div></td>
                <td>
                    <div class="dt-actions">
                        <div class="dt-btn edit" title="Edit"><span></span></div>
                        <div class="dt-btn delete" title="Delete"><span></span></div>
                    </div>
                </td>
            </tr>                    
        </table>
        <pagination [length]="length" [perPage]="perPage" [(current)]="currentPart" (change)="buildList ();"></pagination>   
        
        <br><br>
        <div>-------------------</div>
        <br><br>

        <form>
            <div class="data-form">            
                <div class="df-title">Field name:</div>
                <div class="df-inputwrap"><input type="text" value="test"></div>
                <div class="df-title">Field name:</div>
                <div class="df-inputwrap"><input type="text" value="test"></div>                
                <div class="df-title">Field name:</div>
                <div class="df-inputwrap"><input type="checkbox"></div>                
                <div class="df-title">Field name:</div>
                <div class="df-inputwrap"><select><option>Option 1</option><option>Option 2</option></select></div>
                <div class="df-title">Field name:</div>
                <div class="df-inputwrap"><editor apiKey="vyqpgkbwnitqsjn9livngxdsuxggz6aowmwwx6d1spe78nnv" [init]="tinyInit ()"></editor></div>                
                <div class="df-title"></div>
                <div class="df-inputwrap"><button>Save</button></div>                
            </div>
        </form>

        <loading-table></loading-table>
        -->
    </div>
</div>
