<div class="wrap2 padded">
    <main>
        <div id="breadcrumbs">
            <span><a routerLink="/ru">Главная</a></span>
            <span>Космос</span>
        </div>
        <h1>Рубрика: Космос</h1>
        <div id="category">
            <article>
                <a routerLink="/ru/cat/space/some-article"><img src="../../../assets/images/test1.jpg"></a>
                <div class="ca-details1">
                    <div class="ca-cat">Космос</div>
                    <div class="ca-date">8 февраля 2020, 23:20</div>
                    <div class="ca-comments">720</div>
                    <div class="ca-rating">
                        <div class="car-stars">
                            <span class="filled"></span>
                            <span class="filled"></span>
                            <span class="filled"></span>
                            <span class="filled"></span>
                            <span></span>
                        </div>
                        <div class="car-info">4.33 (5 гол.)</div>
                    </div>
                    <div class="ca-views">501</div>
                </div>
                <div class="ca-title"><a routerLink="/ru/cat/space/some-article">Длинное название статьи, публикации, материала</a></div>
                <div class="ca-details2">
                    <div class="ca-socnets">
                        <div class="ca-socnet fb"><span></span></div>
                        <div class="ca-socnet tw"><span></span></div>
                    </div>
                    <div class="ca-author">
                        <div class="ca-author-ava" [style.background-image]="'url(../../assets/images/ava-test.gif)'"></div>
                        <div class="ca-author-name"><a href="#">Admin</a></div>
                    </div>
                </div>
                <div class="ca-short">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</div>
                <div class="ca-tags">
                    <span class="ca-tag">Iphone</span><span>, </span><span class="ca-tag">События</span><span>, </span><span class="ca-tag">Tesla</span>
                </div>
                <div class="ca-more"><a routerLink="/ru/cat/space/some-article">Подробнее</a></div>
            </article>
            <article>
                <a routerLink="/ru/cat/space/some-article"><img src="../../../assets/images/test1.jpg"></a>
                <div class="ca-details1">
                    <div class="ca-cat">Космос</div>
                    <div class="ca-date">8 февраля 2020, 23:20</div>
                    <div class="ca-comments">720</div>
                    <div class="ca-rating">
                        <div class="car-stars">
                            <span class="filled"></span>
                            <span class="filled"></span>
                            <span class="filled"></span>
                            <span class="filled"></span>
                            <span></span>
                        </div>
                        <div class="car-info">4.33 (5 гол.)</div>
                    </div>
                    <div class="ca-views">501</div>
                </div>
                <div class="ca-title"><a routerLink="/ru/cat/space/some-article">Длинное название статьи, публикации, материала</a></div>
                <div class="ca-details2">
                    <div class="ca-socnets">
                        <div class="ca-socnet fb"><span></span></div>
                        <div class="ca-socnet tw"><span></span></div>
                    </div>
                    <div class="ca-author">
                        <div class="ca-author-ava" [style.background-image]="'url(../../assets/images/ava-test.gif)'"></div>
                        <div class="ca-author-name"><a href="#">Admin</a></div>
                    </div>
                </div>
                <div class="ca-short">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</div>
                <div class="ca-tags">
                    <span class="ca-tag">Iphone</span><span>, </span><span class="ca-tag">События</span><span>, </span><span class="ca-tag">Tesla</span>
                </div>
                <div class="ca-more"><a routerLink="/ru/cat/space/some-article">Подробнее</a></div>
            </article>
            <article>
                <a routerLink="/ru/cat/space/some-article"><img src="../../../assets/images/test1.jpg"></a>
                <div class="ca-details1">
                    <div class="ca-cat">Космос</div>
                    <div class="ca-date">8 февраля 2020, 23:20</div>
                    <div class="ca-comments">720</div>
                    <div class="ca-rating">
                        <div class="car-stars">
                            <span class="filled"></span>
                            <span class="filled"></span>
                            <span class="filled"></span>
                            <span class="filled"></span>
                            <span></span>
                        </div>
                        <div class="car-info">4.33 (5 гол.)</div>
                    </div>
                    <div class="ca-views">501</div>
                </div>
                <div class="ca-title"><a routerLink="/ru/cat/space/some-article">Длинное название статьи, публикации, материала</a></div>
                <div class="ca-details2">
                    <div class="ca-socnets">
                        <div class="ca-socnet fb"><span></span></div>
                        <div class="ca-socnet tw"><span></span></div>
                    </div>
                    <div class="ca-author">
                        <div class="ca-author-ava" [style.background-image]="'url(../../assets/images/ava-test.gif)'"></div>
                        <div class="ca-author-name"><a href="#">Admin</a></div>
                    </div>
                </div>
                <div class="ca-short">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</div>
                <div class="ca-tags">
                    <span class="ca-tag">Iphone</span><span>, </span><span class="ca-tag">События</span><span>, </span><span class="ca-tag">Tesla</span>
                </div>
                <div class="ca-more"><a routerLink="/ru/cat/space/some-article">Подробнее</a></div>
            </article>
            <article>
                <a routerLink="/ru/cat/space/some-article"><img src="../../../assets/images/test1.jpg"></a>
                <div class="ca-details1">
                    <div class="ca-cat">Космос</div>
                    <div class="ca-date">8 февраля 2020, 23:20</div>
                    <div class="ca-comments">720</div>
                    <div class="ca-rating">
                        <div class="car-stars">
                            <span class="filled"></span>
                            <span class="filled"></span>
                            <span class="filled"></span>
                            <span class="filled"></span>
                            <span></span>
                        </div>
                        <div class="car-info">4.33 (5 гол.)</div>
                    </div>
                    <div class="ca-views">501</div>
                </div>
                <div class="ca-title"><a routerLink="/ru/cat/space/some-article">Длинное название статьи, публикации, материала</a></div>
                <div class="ca-details2">
                    <div class="ca-socnets">
                        <div class="ca-socnet fb"><span></span></div>
                        <div class="ca-socnet tw"><span></span></div>
                    </div>
                    <div class="ca-author">
                        <div class="ca-author-ava" [style.background-image]="'url(../../assets/images/ava-test.gif)'"></div>
                        <div class="ca-author-name"><a href="#">Admin</a></div>
                    </div>
                </div>
                <div class="ca-short">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</div>
                <div class="ca-tags">
                    <span class="ca-tag">Iphone</span><span>, </span><span class="ca-tag">События</span><span>, </span><span class="ca-tag">Tesla</span>
                </div>
                <div class="ca-more"><a routerLink="/ru/cat/space/some-article">Подробнее</a></div>
            </article>
            <article>
                <a routerLink="/ru/cat/space/some-article"><img src="../../../assets/images/test1.jpg"></a>
                <div class="ca-details1">
                    <div class="ca-cat">Космос</div>
                    <div class="ca-date">8 февраля 2020, 23:20</div>
                    <div class="ca-comments">720</div>
                    <div class="ca-rating">
                        <div class="car-stars">
                            <span class="filled"></span>
                            <span class="filled"></span>
                            <span class="filled"></span>
                            <span class="filled"></span>
                            <span></span>
                        </div>
                        <div class="car-info">4.33 (5 гол.)</div>
                    </div>
                    <div class="ca-views">501</div>
                </div>
                <div class="ca-title"><a routerLink="/ru/cat/space/some-article">Длинное название статьи, публикации, материала</a></div>
                <div class="ca-details2">
                    <div class="ca-socnets">
                        <div class="ca-socnet fb"><span></span></div>
                        <div class="ca-socnet tw"><span></span></div>
                    </div>
                    <div class="ca-author">
                        <div class="ca-author-ava" [style.background-image]="'url(../../assets/images/ava-test.gif)'"></div>
                        <div class="ca-author-name"><a href="#">Admin</a></div>
                    </div>
                </div>
                <div class="ca-short">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</div>
                <div class="ca-tags">
                    <span class="ca-tag">Iphone</span><span>, </span><span class="ca-tag">События</span><span>, </span><span class="ca-tag">Tesla</span>
                </div>
                <div class="ca-more"><a routerLink="/ru/cat/space/some-article">Подробнее</a></div>
            </article>
            <article>
                <a routerLink="/ru/cat/space/some-article"><img src="../../../assets/images/test1.jpg"></a>
                <div class="ca-details1">
                    <div class="ca-cat">Космос</div>
                    <div class="ca-date">8 февраля 2020, 23:20</div>
                    <div class="ca-comments">720</div>
                    <div class="ca-rating">
                        <div class="car-stars">
                            <span class="filled"></span>
                            <span class="filled"></span>
                            <span class="filled"></span>
                            <span class="filled"></span>
                            <span></span>
                        </div>
                        <div class="car-info">4.33 (5 гол.)</div>
                    </div>
                    <div class="ca-views">501</div>
                </div>
                <div class="ca-title"><a routerLink="/ru/cat/space/some-article">Длинное название статьи, публикации, материала</a></div>
                <div class="ca-details2">
                    <div class="ca-socnets">
                        <div class="ca-socnet fb"><span></span></div>
                        <div class="ca-socnet tw"><span></span></div>
                    </div>
                    <div class="ca-author">
                        <div class="ca-author-ava" [style.background-image]="'url(../../assets/images/ava-test.gif)'"></div>
                        <div class="ca-author-name"><a href="#">Admin</a></div>
                    </div>
                </div>
                <div class="ca-short">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</div>
                <div class="ca-tags">
                    <span class="ca-tag">Iphone</span><span>, </span><span class="ca-tag">События</span><span>, </span><span class="ca-tag">Tesla</span>
                </div>
                <div class="ca-more"><a routerLink="/ru/cat/space/some-article">Подробнее</a></div>
            </article>            
        </div>
    </main>
    <aside>
        <the-sidebar></the-sidebar>
    </aside>  
</div>