@import "../../var";

.dtp-component {    
    display: flex; position: relative;
    .dtp-date {margin-right: 10px;}
    .dtp-btn {
        cursor: pointer;
        span {
            font-family: "awesome-solid"; font-size: 16px;
            &::before {content: "\f073";}
        }
    }
    .dtp-picker {
        position: absolute; top: calc(100% + 5px); left: -5px; width: 200px; height: 0; z-index: 2; color: #333; overflow: hidden; box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3); transition: height 0.3s ease 0s; will-change: height; font-size: 14px;
        &.active {height: 300px;}
        .dtp-content {
            width: 100%; height: 100%; border:1px #666 solid; padding: 10px; background-color: #fff;
            .dtp-month {
                display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;
                .dtp-month-back, .dtp-month-forward {
                    cursor: pointer;
                    span {font-family: "awesome-solid"; font-size: 16px;}
                }
                .dtp-month-back {span::before {content: "\f048";}}
                .dtp-month-forward {span::before {content: "\f051";}}
            }
            .dtp-days {
                display: grid; grid-template-columns: repeat(7, 1fr); gap: 2px; font-size: 12px;
                div {border:1px #eee solid;}
            }
        }
    }
}