@import "../../../common.styles/var";

.mainarticles {
    margin: 0 0 80px 0; position: relative;    
    .ma-items {
        @media (min-width:0) {display: block;}
        @media (min-width:640px) {display: grid; grid-template-columns: repeat(2, 1fr);}
        @media (min-width:1000px) {display: grid; grid-template-columns: repeat(3, 1fr);}
        gap: 30px 20px;
        article {
            @media (min-width:0) {margin: 0 0 20px 0;}
            @media (min-width:640px) {margin: 0;}
            figure {
                padding-bottom: 75%; background-size: cover; background-position: center top; margin: 0 0 10px 0; cursor: pointer; position: relative;
                .maa-cat {
                    position: absolute; left: 10px; top: 10px;
                    a, a:visited {color: #fff; font-family: "teko", Arial, Helvetica, sans-serif; font-size: 18px; letter-spacing: 3px; text-transform: uppercase; text-decoration: none; display: inline-block; background-color: $color-blue; padding: 5px; transition: background-color 0.3s ease 0s;}
                    a:hover {background-color: $color-blue-dark;}
                }
            }
            .maa-date {font-size: 12px; color: $color-grey-light; letter-spacing: 1px; margin: 0 0 10px 0;}
            .maa-title {
                font-family: "teko", Arial, Helvetica, sans-serif; font-size: 20px;
                a, a:visited {
                    color: #000; text-decoration: none;
                    &:hover {color: $color-blue;}
                }
            }
            &.loading {
                figure {background-color: #f9f9f9; animation-name: loading-blink; animation-duration: 2s; animation-iteration-count: infinite;}
                label {display: block; height: 20px; background: #f9f9f9; animation-name: loading-blink; animation-duration: 2s; animation-iteration-count: infinite;}
            }
        }
    }
}