<div class="wrap2 padded">
    <main>
        <ng-container *ngIf="userReady">
            <div id="breadcrumbs">
                <span><a routerLink="/{{currentLang.slug}}">{{currentLang.s('home')}}</a></span>
                <span [innerHTML]="user.name"></span>
            </div>
            <h1><span [innerHTML]="currentLang.s('catalogue-user')"></span>: <span [innerHTML]="user.name"></span></h1>
        </ng-container>
    </main>
    <aside>
        <the-sidebar></the-sidebar>
    </aside>  
</div>