<div class="wrap2 padded">
    <main>
        <ng-container *ngIf="userReady">
            <div id="breadcrumbs">
                <span><a routerLink="/{{currentLang.slug}}">{{currentLang.s('home')}}</a></span>
                <span [innerHTML]="user.name"></span>
            </div>
            <h1><span [innerHTML]="currentLang.s('catalogue-user')"></span>: <span [innerHTML]="user.name"></span></h1>

            <div class="user">
                <div class="u-left">
                    <figure [style.background-image]="user.img_s ? 'url(/assets/images/users/'+user.img_s+')' : 'none'">
                        <span *ngIf="!user.img_s">{{user.firstLetter}}</span>
                    </figure>
                </div>
                <div class="u-right">
                    <p>{{currentLang.s('catalogue-user-articles')}}: <strong>{{user.__articlesq}}</strong></p>
                    <p>{{currentLang.s('catalogue-user-comments')}}: <strong>{{user.__commentsq}}</strong></p>
                    <p>{{currentLang.s('catalogue-user-createdat')}}: <strong>{{user.formatedCreatedAt(currentLang)}}</strong></p>
                    <p>{{currentLang.s('catalogue-user-rating')}}: <strong>{{user.formatedRating | number:'1.2-2'}} ({{user.__votesq}} {{currentLang.s('catalogue-user-votes')}})</strong></p>
                </div>                
            </div>

            <ng-container *ngIf="user.__articlesq">
                <div class="h1">{{currentLang.s('catalogue-user-articles')}}</div>
                <articles-list [articles]="articles" [articlesReady]="articlesReady" [loadingMore]="loadingMore" [displayUser]="false" [categoryAsLink]="true"></articles-list>
            </ng-container>
        </ng-container>        
    </main>
    <aside>
        <the-sidebar></the-sidebar>
    </aside>  
</div>