<div class="data-tabs">
    <div [class]="tab === 1 ? 'data-tab active' : 'data-tab'" (click)="tab = 1;">{{currentLang.phrases['workspace-categories-main']}}</div>
    <div [class]="tab === 2 ? 'data-tab active' : 'data-tab'" (click)="tab = 2;">{{currentLang.phrases['workspace-categories-seo']}}</div>
</div>

<div class="data-langs padded">
    <div class="data-langs-title">{{currentLang.phrases['workspace-categories-lang']}}:</div>
    <div class="data-langs-btns">
        <label *ngFor="let l of ll" (click)="selectedLang = l;"><input type="radio" [checked]="selectedLang._id === l._id">{{l.name}}</label>
    </div>                    
</div>

<ng-container *ngIf="tab === 1">
    <div class="data-form">  
        <div [class]="isRequired('name') ? 'df-title required' : 'df-title'">{{currentLang.phrases['workspace-categories-name']}}:</div>
        <div class="df-inputwrap">
            <ng-container *ngFor="let l of ll">
                <input type="text" name="name_{{l.name}}" [(ngModel)]="x.name[l._id]" *ngIf="selectedLang._id === l._id" (change)="canBuildSlug && l.sluggable ? buildSlug(l._id) : null;">
            </ng-container>            
        </div>

        <div [class]="isRequired('contentshort') ? 'df-title required' : 'df-title'">{{currentLang.phrases['workspace-categories-contentshort']}}:</div>
        <div class="df-inputwrap">
            <ng-container *ngFor="let l of ll">
                <textarea name="contentshort_{{l.name}}" [(ngModel)]="x.contentshort[l._id]" *ngIf="selectedLang._id === l._id"></textarea>
            </ng-container>            
        </div>

        <div [class]="isRequired('content') ? 'df-title required' : 'df-title'">{{currentLang.phrases['workspace-categories-content']}}:</div>
        <div class="df-inputwrap">
            <ng-container *ngFor="let l of ll">
                <editor apiKey="vyqpgkbwnitqsjn9livngxdsuxggz6aowmwwx6d1spe78nnv" name="content_{{l.name}}" [init]="tinyInit(l)" [(ngModel)]="x.content[l._id]" *ngIf="selectedLang._id === l._id"></editor>
            </ng-container>            
        </div>

        <div [class]="isRequired('img') ? 'df-title required' : 'df-title'">{{currentLang.phrases['workspace-categories-picture']}}:</div>
        <div class="df-inputwrap">
            <ng-container *ngIf="x.img">
                <div class="df-imgwrap">
                    <div class="df-imgwrap2"><img src="/assets/images/categories/{{x.img}}"></div>
                    <div class="df-imgbtns">
                        <div class="df-magnify" [title]="currentLang.phrases['workspace-viewpicture']" (click)="viewerActive = true;"><span></span></div>
                        <div class="df-deletefile" [title]="currentLang.phrases['workspace-removepicture']" (click)="imginput.value = null; onDeleteImg();"><span></span></div>                                   
                    </div>                
                </div>                                
            </ng-container>
            <input #imginput type="file" name="img" (change)="onUploadImg($event);">
            <progressbar [progress]="progressImg" *ngIf="progressImg"></progressbar>
        </div>

        <div [class]="isRequired('parent') ? 'df-title required' : 'df-title'">{{currentLang.phrases['workspace-categories-parent']}}:</div>
        <div class="df-inputwrap">
            <select [(ngModel)]="x.parent">
                <option [ngValue]="null"></option>
                <ng-container *ngFor="let c of cl">
                    <option *ngIf="c._id !== x._id" [value]="c._id" [innerHTML]="c.__shift+c.name[selectedLang._id]"></option>
                </ng-container>                
            </select>
        </div>

        <div [class]="isRequired('pos') ? 'df-title required' : 'df-title'">{{currentLang.phrases['workspace-categories-pos']}}:</div>
        <div class="df-inputwrap"><input class="small" type="number" name="pos" [(ngModel)]="x.pos"></div>

        <div [class]="isRequired('active') ? 'df-title required' : 'df-title'">{{currentLang.phrases['workspace-categories-active']}}:</div>
        <div class="df-inputwrap"><checkbox-slider [(value)]="x.active" [disabled]="x.defended"></checkbox-slider></div>   

        <div class="df-title"></div>
        <div class="df-inputwrap"><button type="submit">{{currentLang.phrases['workspace-save']}}</button></div>   
    </div>
    <image-viewer [img]="x.img" folder="categories" [(active)]="viewerActive"></image-viewer>
</ng-container>

<ng-container *ngIf="tab === 2">
    <div class="data-form">
        <div [class]="isRequired('slug') ? 'df-title required' : 'df-title'">{{currentLang.phrases['workspace-categories-slug']}}:</div>
        <div class="df-inputwrap"><input type="text" name="slug" [(ngModel)]="x.slug"></div>

        <div [class]="isRequired('h1') ? 'df-title required' : 'df-title'">{{currentLang.phrases['workspace-categories-header']}}:</div>
        <div class="df-inputwrap">
            <ng-container *ngFor="let l of ll">
                <input type="text" name="h1_{{l.name}}" [(ngModel)]="x.h1[l._id]" *ngIf="selectedLang._id === l._id">
            </ng-container>            
        </div>

        <div [class]="isRequired('title') ? 'df-title required' : 'df-title'">{{currentLang.phrases['workspace-categories-title']}}:</div>
        <div class="df-inputwrap">
            <ng-container *ngFor="let l of ll">
                <input type="text" name="title_{{l.name}}" [(ngModel)]="x.title[l._id]" *ngIf="selectedLang._id === l._id">
            </ng-container>            
        </div>

        <div [class]="isRequired('keywords') ? 'df-title required' : 'df-title'">{{currentLang.phrases['workspace-categories-keywords']}}:</div>
        <div class="df-inputwrap">
            <ng-container *ngFor="let l of ll">
                <input type="text" name="keywords_{{l.name}}" [(ngModel)]="x.keywords[l._id]" *ngIf="selectedLang._id === l._id">
            </ng-container>            
        </div>

        <div [class]="isRequired('description') ? 'df-title required' : 'df-title'">{{currentLang.phrases['workspace-categories-description']}}:</div>
        <div class="df-inputwrap">
            <ng-container *ngFor="let l of ll">
                <input type="text" name="description_{{l.name}}" [(ngModel)]="x.description[l._id]" *ngIf="selectedLang._id === l._id">
            </ng-container>            
        </div>

        <div class="df-title"></div>
        <div class="df-inputwrap"><button type="submit">{{currentLang.phrases['workspace-save']}}</button></div>   
    </div>
</ng-container>
