
    <h2>Мы в соцсетях</h2>
    <div class="aside-soc">
        <ul>
            <li class="fb"><a href="#"><span></span></a></li>
            <li class="tw"><a href="#"><span></span></a></li>
        </ul>
    </div>
    <h2>Последние комментарии</h2>
    <div class="aside-comments">
        <div class="aside-comment">
            <div class="ac-left">
                <div class="ac-imgwrap" [style.background-image]="'url(../../assets/images/ava-test.gif)'"></div>
            </div>                    
            <div class="ac-right">
                <div class="ac-author">Some user name</div>
                <div class="ac-text"><a href="#">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</a></div>
                <div class="ac-date">8 февраля 2020, 23:20</div>
            </div>
        </div>
        <div class="aside-comment">
            <div class="ac-left">
                <div class="ac-imgwrap" [style.background-image]="'url(../../assets/images/ava-test.gif)'"></div>
            </div>                    
            <div class="ac-right">
                <div class="ac-author">Some user name</div>
                <div class="ac-text"><a href="#">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</a></div>
                <div class="ac-date">8 февраля 2020, 23:20</div>
            </div>
        </div>
        <div class="aside-comment">
            <div class="ac-left">
                <div class="ac-imgwrap" [style.background-image]="'url(../../assets/images/ava-test.gif)'"></div>
            </div>                    
            <div class="ac-right">
                <div class="ac-author">Some user name</div>
                <div class="ac-text"><a href="#">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</a></div>
                <div class="ac-date">8 февраля 2020, 23:20</div>
            </div>
        </div>                   
    </div>
    <h2>Поиск по тегам</h2>
    <div class="aside-tags">
        <div class="aside-tag">гаджет</div>
        <div class="aside-tag">iphone</div>
        <div class="aside-tag">лекарство</div>
        <div class="aside-tag">солнце</div>
        <div class="aside-tag">tesla</div>
        <div class="aside-tag">google</div>
        <div class="aside-tag">microsoft</div>
    </div>
    <h2>Рекомендуем</h2>
    <div class="aside-recommended">
        <article>
            <figure [style.background-image]="'url(/assets/images/test1.jpg)'">                    
                <div class="ar-cat"><a href="#">Космос</a></div>
            </figure>                
            <div class="ar-title"><a href="#">Заголовок статьи длинный длинный очень длинный-предлинный заголовище</a></div>
            <div class="ar-date">8 февраля 2020, 12:40</div>
        </article>
        <article>
            <figure [style.background-image]="'url(/assets/images/test1.jpg)'">                    
                <div class="ar-cat"><a href="#">Космос</a></div>
            </figure>                
            <div class="ar-title"><a href="#">Заголовок статьи длинный длинный очень длинный-предлинный заголовище</a></div>
            <div class="ar-date">8 февраля 2020, 12:40</div>
        </article>
        <article>
            <figure [style.background-image]="'url(/assets/images/test1.jpg)'">                    
                <div class="ar-cat"><a href="#">Космос</a></div>
            </figure>                
            <div class="ar-title"><a href="#">Заголовок статьи длинный длинный очень длинный-предлинный заголовище</a></div>
            <div class="ar-date">8 февраля 2020, 12:40</div>
        </article>
    </div>
