<aside [class]="active ? 'active' : ''">
    <div id="aside-left">
        <div id="user" *ngIf="authenticated" [routerLink]="'/users/users/edit/'+user._id">
            <div id="u-imgwrap" [style.background-image]="'url(/assets/images/users/'+user.img_s+')'"></div>
            <div id="u-info">
                <div id="u-name">{{user.name}}</div>
                <div id="u-email">{{user.email}}</div>
            </div>            
        </div>
        <div id="login" *ngIf="!authenticated">
            <div id="login-head"><span></span></div>
            <form (submit)="login();">
                <input type="email" name="email" [placeholder]="currentLang.phrases['sidebar-email']" [(ngModel)]="email" [class]="errorEmail ? 'error' : ''">
                <input type="password" name="password" [placeholder]="currentLang.phrases['sidebar-password']" [(ngModel)]="password" [class]="errorPassword ? 'error' : ''">
                <button type="submit">{{currentLang.phrases['sidebar-enter']}}</button>
            </form>
        </div>            
        <div id="navwrap" *ngIf="authenticated">
            <nav>		
                <div [class]="currentUrl.parts[0] === '' ? 'nav-item active' : 'nav-item'"><a routerLink="/"><span class="nav-home">{{currentLang.phrases['sidebar-module-home']}}</span></a></div>
                
                <div [class]="currentUrl.parts[0] === 'users' ? 'nav-item active' : 'nav-item'"><a (click)="toggleSub(2);"><span class="nav-users">{{currentLang.phrases['sidebar-module-users']}}</span></a></div>
                <div [class]="sub2Active ? 'nav-sub active' : 'nav-sub'">
                    <div [class]="currentUrl.parts[1] === 'users' ? 'nav-item active' : 'nav-item'"><a routerLink="/users/users"><span>{{currentLang.phrases['sidebar-submodule-users']}}</span></a></div>
                    <div [class]="currentUrl.parts[1] === 'usergroups' ? 'nav-item active' : 'nav-item'"><a routerLink="/users/usergroups"><span>{{currentLang.phrases['sidebar-submodule-usergroups']}}</span></a></div>
                </div>
                
                <div [class]="currentUrl.parts[0] === 'langs' ? 'nav-item active' : 'nav-item'"><a routerLink="/langs"><span class="nav-langs">{{currentLang.phrases['sidebar-module-langs']}}</span></a></div>

                <div [class]="currentUrl.parts[0] === 'catalogue' ? 'nav-item active' : 'nav-item'"><a (click)="toggleSub(1);"><span class="nav-cat">{{currentLang.phrases['sidebar-module-catalogue']}}</span></a></div>
                <div [class]="sub1Active ? 'nav-sub active' : 'nav-sub'">
                    <div [class]="currentUrl.parts[1] === 'categories' ? 'nav-item active' : 'nav-item'"><a routerLink="/catalogue/categories"><span>{{currentLang.phrases['sidebar-submodule-categories']}}</span></a></div>
                    <div [class]="currentUrl.parts[1] === 'articles' ? 'nav-item active' : 'nav-item'"><a routerLink="/catalogue/articles"><span>{{currentLang.phrases['sidebar-submodule-articles']}}</span></a></div>
                </div>

                <div [class]="currentUrl.parts[0] === 'parsing' ? 'nav-item active' : 'nav-item'"><a (click)="toggleSub(3);"><span class="nav-parsing">{{currentLang.phrases['sidebar-module-parsing']}}</span></a></div>
                <div [class]="sub3Active ? 'nav-sub active' : 'nav-sub'">
                    <div [class]="currentUrl.parts[1] === 'donors' ? 'nav-item active' : 'nav-item'"><a routerLink="/parsing/donors"><span>{{currentLang.phrases['sidebar-submodule-donors']}}</span></a></div>
                    <div [class]="currentUrl.parts[1] === 'targets' ? 'nav-item active' : 'nav-item'"><a routerLink="/parsing/targets"><span>{{currentLang.phrases['sidebar-submodule-targets']}}</span></a></div>
                </div>
                
                <div [class]="currentUrl.parts[0] === 'pages' ? 'nav-item active' : 'nav-item'"><a routerLink="/pages"><span class="nav-pages">{{currentLang.phrases['sidebar-module-pages']}}</span></a></div>
            </nav>
        </div>	
    </div>
    <div id="aside-right" (click)="close();"></div>    
</aside>
