<div class="cpd">
    <ng-container *ngIf="ready">                
        <svg viewBox="0 0 100 100">
            <path [attr.d]="arc(50, 50, 40, 0, 2*PI/7)"></path>
            <path [attr.d]="arc(50, 50, 40, 2*PI/7, 4*PI/7)"></path>
            <path [attr.d]="arc(50, 50, 40, 4*PI/7, 6*PI/7)"></path>
            <path [attr.d]="arc(50, 50, 40, 6*PI/7, 8*PI/7)"></path>
            <path [attr.d]="arc(50, 50, 40, 8*PI/7, 10*PI/7)"></path>
            <path [attr.d]="arc(50, 50, 40, 10*PI/7, 12*PI/7)"></path>
            <path [attr.d]="arc(50, 50, 40, 12*PI/7, 2*PI)"></path>
        </svg>
    </ng-container>
    <ng-container *ngIf="!ready">
        <div class="reloading"><span></span></div>
    </ng-container>        
</div>
