.sign-form {
    display: flex; justify-content: center;
    form {
        @media (min-width: 0) {width: 100%;}
        @media (min-width: 640px) {width: 300px;}
        .f-row {        
            input[type='text'], input[type='email'], input[type='password'] {width: 100%;}
            button {width: 100%;}            
        }
    }
}
