<ng-container *ngIf="facebookLink || twitterLink">
    <h2>{{currentLang.s('sidebar-soc')}}</h2>
    <div class="aside-soc">
        <ul>
            <li class="fb" *ngIf="facebookLink"><a [href]="facebookLink" target="_blank"><span></span></a></li>
            <li class="tw" *ngIf="twitterLink"><a [href]="twitterLink" target="_blank"><span></span></a></li>
        </ul>
    </div>    
</ng-container>

<h2>{{currentLang.s('sidebar-comments')}}</h2>
<comments-last></comments-last>

<h2>{{currentLang.s('sidebar-tags')}}</h2>
<tags></tags>
    
<h2>{{currentLang.s('sidebar-recommended')}}</h2>
<articles-recommended></articles-recommended>
