<div class="wrap2 padded">
    <main>
        <ng-container *ngIf="categoryReady">
            <div id="breadcrumbs">
                <span><a routerLink="/{{currentLang.slug}}">{{currentLang.s('home')}}</a></span>
                <span [innerHTML]="category.name[currentLang._id]"></span>
            </div>
            <h1><span [innerHTML]="currentLang.s('category')"></span>: <span [innerHTML]="category.h1[currentLang._id] || category.name[currentLang._id]"></span></h1>
        </ng-container>        
        <articles-list [articles]="articles" [articlesReady]="articlesReady" [loadingMore]="loadingMore"></articles-list>                
    </main>
    <aside>
        <the-sidebar></the-sidebar>
    </aside>  
</div>
