<div class="wrap2 padded">
    <main class="full">        
        <div id="breadcrumbs">
            <span><a routerLink="/{{currentLang.slug}}">{{currentLang.s('home')}}</a></span>
            <span [innerHTML]="currentLang.s('user-private')"></span>
        </div>     
        <h1 [innerHTML]="currentLang.s('user-private')+': '+user.name"></h1>   
        
        <div class="userprivate">    
            <div class="tabs">
                <ul>
                    <li><span [class.active]="tab === 1" (click)="tab = 1;" [innerHTML]="currentLang.s('user-private-info')"></span></li>
                    <li><span [class.active]="tab === 2" (click)="tab = 2;" [innerHTML]="currentLang.s('user-private-edit')"></span></li>
                    <li><span [class.active]="tab === 3" (click)="tab = 3;" [innerHTML]="currentLang.s('user-private-exit')"></span></li>
                </ul>
            </div>    
            <div class="up-main">
                <!-- info -->
                <ng-container *ngIf="tab === 1">
                    <div class="user-info">
                        <div class="ui-left">
                            <figure [style.background-image]="user.img ? 'url(/assets/images/users/'+user.img_s+')' : 'none'">
                                <span *ngIf="!user.img_s">{{user.firstLetter}}</span>
                            </figure>
                        </div>
                        <div class="ui-right">
                            <p>{{currentLang.s('catalogue-user-articles')}}: <strong>{{user.__articlesq}}</strong></p>
                            <p>{{currentLang.s('catalogue-user-comments')}}: <strong>{{user.__commentsq}}</strong></p>
                            <p>{{currentLang.s('catalogue-user-createdat')}}: <strong>{{user.formatedCreatedAt(currentLang)}}</strong></p>
                            <p>{{currentLang.s('catalogue-user-rating')}}: <strong>{{user.formatedRating | number:'1.2-2'}} ({{user.__votesq}} {{currentLang.s('catalogue-user-votes')}})</strong></p>
                        </div>                
                    </div>
                </ng-container>
                <!-- edit -->
                <ng-container *ngIf="tab === 2">
                    <div class="user-form useredit-form">
                        <form (submit)="update();">
                            <div class="uef-left">
                                <div 
                                    class="uef-imgwrap" 
                                    [class.active]="dropAreaActive"
                                    [title]="currentLang.s('user-private-imgdnd')" 
                                    (drop)="onDrop($event);" 
                                    (dragenter)="onDragEnter($event);" 
                                    (dragover)="onDragOver($event);" 
                                    (dragleave)="onDragLeave($event);"
                                >
                                    <figure [style.background-image]="user.img_s ? 'url(/assets/images/users/'+user.img_s+')' : 'none'">
                                        <span *ngIf="!user.img_s">{{user.firstLetter}}</span>
                                    </figure>                                
                                    <div class="uef-dnd"><span></span></div>                                    
                                </div>                                
                                <div class="uef-filedash">
                                    <span class="uef-select" [title]="currentLang.s('user-private-imgselect')" (click)="openFileDialog();"></span>
                                    <span class="uef-delete" [title]="currentLang.s('user-private-imgdelete')" (click)="user.img = undefined; user.img_s = undefined;"></span>
                                </div>
                                <div class="uef-progress">
                                    <progressbar [progress]="uploadProgress"></progressbar>
                                </div>                                
                            </div>
                            <div class="uef-right">
                                <div class="f-row"><input [class.error]="errorName" type="text" name="name" [(ngModel)]="user.name" [placeholder]="currentLang.s('user-private-name')"></div>
                                <div class="f-row"><input [class.error]="errorEmail" type="email" name="email" [(ngModel)]="user.email" [placeholder]="currentLang.s('user-private-email')"></div>
                                <div class="f-row"><input type="password" name="password" [(ngModel)]="user.password" [placeholder]="currentLang.s('user-private-pw')"></div>                                
                                <div class="f-row"><button type="submit" [disabled]="loading">{{currentLang.s('user-private-save')}}</button></div>
                            </div>                                
                        </form>
                    </div>
                </ng-container>
                <!-- exit -->
                <ng-container *ngIf="tab === 3">
                    <div class="up-logout">
                        <button routerLink="/{{currentLang.slug}}/user/logout">{{currentLang.s('user-private-bye')}}</button>
                    </div>                        
                </ng-container>                    
            </div>        
        </div>        
    </main>
</div>
