<div class="wrap2 padded">
    <main class="full">
        <ng-container *ngIf="pageReady">
            <div id="breadcrumbs">
                <span><a routerLink="/{{currentLang.slug}}">{{currentLang.s('home')}}</a></span>
                <span [innerHTML]="page.name[currentLang._id]"></span>
            </div>     
            <h1 [innerHTML]="page.h1[currentLang._id] || page.name[currentLang._id]"></h1>
            <div class="content" [innerHTML]="page.content[currentLang._id]"></div>
        </ng-container>        
    </main>
</div>
