@import "../../var";

.user-form {
    margin-bottom: 80px;
    form {
        .f-row {
            margin-bottom: 15px;
            input[type='text'], input[type='email'], input[type='password']  {
                border: 1px $color-grey-superlight solid; height: 40px; padding: 0 5px;
                &:focus {border-color: $color-blue;}
                &.error {animation-name: error-blink; animation-duration: 2s; animation-iteration-count: infinite;}
                @keyframes error-blink {
                    0% {border-color: #f00;}
                    50% {border-color: #900;}
                    100% {border-color: #f00;}
                }
            }
            ::placeholder {color: $color-grey-light;}
        }
    }
}
