@font-face {font-family: "teko"; src: url("/assets/fonts/teko.ttf");}
@font-face {font-family: "ionicons"; src: url("/assets/fonts/ionicons.ttf");}

$color-black: #1c1c21;
$color-blue: #4671ff;
$color-blue-dark: #3962e7;
$color-grey-light: #bbb;
$color-grey-superlight: #eee;
$color-grey-dark: #666;
$color-main: rgb(91,91,96);
$color-yellow: #fed800;
$color-yellow-light: #ffe449;