<div class="apc">
    <ng-container *ngIf="ready">
        <div class="apc-content">
            <div class="apc-cat" *ngFor="let apc of data; let i = index;">
                <div class="apc-cat-name" [innerHTML]="apc.catname"></div>
                <div class="apc-cat-scale" [style.width.%]="widths[i]" [title]="apc.q"></div>
            </div>            
        </div>
    </ng-container>
    <ng-container *ngIf="!ready">
        <div class="reloading"><span></span></div>
    </ng-container>    
</div>
