<div class="home-gal">
    <article [style.background-image]="'url(/assets/images/test1.jpg)'">
        <div class="hg-layer1"></div>
        <div class="hg-layer2">
            <div class="hgi-title"><a href="#">Заголовок статьи длинный длинный очень длинный-предлинный заголовище</a></div>
            <div class="hgi-info">
                <div class="hgi-date">8 февраля 2020, 20:15</div>
                <div class="hgi-comments">954</div>            
            </div>
            <div class="hgi-cat"><a href="#">Космос</a></div>
        </div>        
    </article>
    <article [style.background-image]="'url(/assets/images/test1.jpg)'">
        <div class="hg-layer1"></div>
        <div class="hg-layer2">
            <div class="hgi-title"><a href="#">Заголовок статьи длинный длинный очень длинный-предлинный заголовище</a></div>
            <div class="hgi-info">
                <div class="hgi-date">8 февраля 2020, 20:15</div>
                <div class="hgi-comments">954</div>            
            </div>
            <div class="hgi-cat"><a href="#">Космос</a></div>
        </div>        
    </article>
    <article [style.background-image]="'url(/assets/images/test1.jpg)'">
        <div class="hg-layer1"></div>
        <div class="hg-layer2">
            <div class="hgi-title"><a href="#">Заголовок статьи длинный длинный очень длинный-предлинный заголовище</a></div>
            <div class="hgi-info">
                <div class="hgi-date">8 февраля 2020, 20:15</div>
                <div class="hgi-comments">954</div>            
            </div>
            <div class="hgi-cat"><a href="#">Космос</a></div>
        </div>        
    </article>
    <article [style.background-image]="'url(/assets/images/test1.jpg)'">
        <div class="hg-layer1"></div>
        <div class="hg-layer2">
            <div class="hgi-title"><a href="#">Заголовок статьи длинный длинный очень длинный-предлинный заголовище</a></div>
            <div class="hgi-info">
                <div class="hgi-date">8 февраля 2020, 20:15</div>
                <div class="hgi-comments">954</div>            
            </div>
            <div class="hgi-cat"><a href="#">Космос</a></div>
        </div>        
    </article>
    <article [style.background-image]="'url(/assets/images/test1.jpg)'">
        <div class="hg-layer1"></div>
        <div class="hg-layer2">
            <div class="hgi-title"><a href="#">Заголовок статьи длинный длинный очень длинный-предлинный заголовище</a></div>
            <div class="hgi-info">
                <div class="hgi-date">8 февраля 2020, 20:15</div>
                <div class="hgi-comments">954</div>            
            </div>
            <div class="hgi-cat"><a href="#">Космос</a></div>
        </div>        
    </article>
    <article [style.background-image]="'url(/assets/images/test1.jpg)'">
        <div class="hg-layer1"></div>
        <div class="hg-layer2">
            <div class="hgi-title"><a href="#">Заголовок статьи длинный длинный очень длинный-предлинный заголовище</a></div>
            <div class="hgi-info">
                <div class="hgi-date">8 февраля 2020, 20:15</div>
                <div class="hgi-comments">954</div>            
            </div>
            <div class="hgi-cat"><a href="#">Космос</a></div>
        </div>        
    </article>         
</div>

<div class="wrap2">
    <main>
        <h1>Главные новости</h1>
        <div class="home-digest">
            <div class="hd-menu">
                <ul>
                    <li><a href="#" class="active">Космос</a></li>
                    <li><a href="#">Гаджеты</a></li>
                    <li><a href="#">Медицина</a></li>
                    <li><a href="#">Математика</a></li>
                    <li><a href="#">История</a></li>
                </ul>
            </div>
            <div class="hd-items">
                <article>
                    <figure [style.background-image]="'url(/assets/images/test1.jpg)'">
                        <div class="hdi-cat"><a href="#">Космос</a></div>
                    </figure>
                    <div class="hdi-date">8 февраля 2020, 19:30</div>
                    <div class="hdi-title"><a href="#">Заголовок статьи длинный длинный очень длинный-предлинный заголовище</a></div>
                </article>
                <article>
                    <figure [style.background-image]="'url(/assets/images/test1.jpg)'">
                        <div class="hdi-cat"><a href="#">Космос</a></div>
                    </figure>
                    <div class="hdi-date">8 февраля 2020, 19:30</div>
                    <div class="hdi-title"><a href="#">Заголовок статьи длинный длинный очень длинный-предлинный заголовище</a></div>
                </article>
                <article>
                    <figure [style.background-image]="'url(/assets/images/test1.jpg)'">
                        <div class="hdi-cat"><a href="#">Космос</a></div>
                    </figure>
                    <div class="hdi-date">8 февраля 2020, 19:30</div>
                    <div class="hdi-title"><a href="#">Заголовок статьи длинный длинный очень длинный-предлинный заголовище</a></div>
                </article>
                <article>
                    <figure [style.background-image]="'url(/assets/images/test1.jpg)'">
                        <div class="hdi-cat"><a href="#">Космос</a></div>
                    </figure>
                    <div class="hdi-date">8 февраля 2020, 19:30</div>
                    <div class="hdi-title"><a href="#">Заголовок статьи длинный длинный очень длинный-предлинный заголовище</a></div>
                </article>
                <article>
                    <figure [style.background-image]="'url(/assets/images/test1.jpg)'">
                        <div class="hdi-cat"><a href="#">Космос</a></div>
                    </figure>
                    <div class="hdi-date">8 февраля 2020, 19:30</div>
                    <div class="hdi-title"><a href="#">Заголовок статьи длинный длинный очень длинный-предлинный заголовище</a></div>
                </article>
                <article>
                    <figure [style.background-image]="'url(/assets/images/test1.jpg)'">
                        <div class="hdi-cat"><a href="#">Космос</a></div>
                    </figure>
                    <div class="hdi-date">8 февраля 2020, 19:30</div>
                    <div class="hdi-title"><a href="#">Заголовок статьи длинный длинный очень длинный-предлинный заголовище</a></div>
                </article>                                            
            </div>
        </div>

        <div class="h1">Популярные публикации</div>
        <div class="home-pop">
            <div class="hp-left">
                <figure [style.background-image]="'url(/assets/images/test1.jpg)'">
                    <div class="hpl-overlay"></div>
                    <div class="hpl-cat"><a href="#">Космос</a></div>
                </figure>
                <div class="hpl-date">8 февраля 2020, 12:40</div>
                <div class="hpl-title"><a href="#">Заголовок статьи длинный длинный очень длинный-предлинный заголовище</a></div>
                <div class="hpl-short">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</div>
            </div>
            <div class="hp-right">
                <article>
                    <div class="hpr-date">8 февраля 2020, 12:40</div>
                    <div class="hpr-title"><a href="#">Заголовок статьи длинный длинный очень длинный-предлинный заголовище</a></div>
                </article>                
                <article>
                    <div class="hpr-date">8 февраля 2020, 12:40</div>
                    <div class="hpr-title"><a href="#">Заголовок статьи длинный длинный очень длинный-предлинный заголовище</a></div>
                </article>                
                <article>
                    <div class="hpr-date">8 февраля 2020, 12:40</div>
                    <div class="hpr-title"><a href="#">Заголовок статьи длинный длинный очень длинный-предлинный заголовище</a></div>
                </article>                
            </div>
        </div>

        <div class="h1">Последние публикации</div>
        <div class="lastarticles">            
            <article>
                <div class="la-imgwrap">
                    <figure [style.background-image]="'url(/assets/images/test1.jpg)'"></figure>
                </div>                
                <div class="la-main">
                    <div class="la-top">
                        <div class="la-cat"><a href="#">Космос</a></div>
                        <div class="la-date">8 февраля 2020, 23:20</div>
                        <div class="la-comments">954</div>
                        <div class="la-views">461</div>
                    </div>
                    <div class="la-title"><a href="#">Заголовок статьи длинный длинный очень длинный-предлинный заголовище</a></div>
                    <div class="la-bottom">
                        <div class="la-socnets">
                            <div class="la-socnet fb"><span></span></div>
                            <div class="la-socnet tw"><span></span></div>
                        </div>
                        <div class="la-author">
                            <div class="la-author-ava" [style.background-image]="'url(../../assets/images/users/ava-test.gif)'"></div>
                            <div class="la-author-name"><a href="#">Admin</a></div>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class="la-imgwrap">
                    <figure [style.background-image]="'url(/assets/images/test1.jpg)'"></figure>
                </div>                
                <div class="la-main">
                    <div class="la-top">
                        <div class="la-cat"><a href="#">Космос</a></div>
                        <div class="la-date">8 февраля 2020, 23:20</div>
                        <div class="la-comments">954</div>
                        <div class="la-views">461</div>
                    </div>
                    <div class="la-title"><a href="#">Заголовок статьи длинный длинный очень длинный-предлинный заголовище</a></div>
                    <div class="la-bottom">
                        <div class="la-socnets">
                            <div class="la-socnet fb"><span></span></div>
                            <div class="la-socnet tw"><span></span></div>
                        </div>
                        <div class="la-author">
                            <div class="la-author-ava" [style.background-image]="'url(../../assets/images/users/ava-test.gif)'"></div>
                            <div class="la-author-name"><a href="#">Admin</a></div>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class="la-imgwrap">
                    <figure [style.background-image]="'url(/assets/images/test1.jpg)'"></figure>
                </div>                
                <div class="la-main">
                    <div class="la-top">
                        <div class="la-cat"><a href="#">Космос</a></div>
                        <div class="la-date">8 февраля 2020, 23:20</div>
                        <div class="la-comments">954</div>
                        <div class="la-views">461</div>
                    </div>
                    <div class="la-title"><a href="#">Заголовок статьи длинный длинный очень длинный-предлинный заголовище</a></div>
                    <div class="la-bottom">
                        <div class="la-socnets">
                            <div class="la-socnet fb"><span></span></div>
                            <div class="la-socnet tw"><span></span></div>
                        </div>
                        <div class="la-author">
                            <div class="la-author-ava" [style.background-image]="'url(../../assets/images/users/ava-test.gif)'"></div>
                            <div class="la-author-name"><a href="#">Admin</a></div>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class="la-imgwrap">
                    <figure [style.background-image]="'url(/assets/images/test1.jpg)'"></figure>
                </div>                
                <div class="la-main">
                    <div class="la-top">
                        <div class="la-cat"><a href="#">Космос</a></div>
                        <div class="la-date">8 февраля 2020, 23:20</div>
                        <div class="la-comments">954</div>
                        <div class="la-views">461</div>
                    </div>
                    <div class="la-title"><a href="#">Заголовок статьи длинный длинный очень длинный-предлинный заголовище</a></div>
                    <div class="la-bottom">
                        <div class="la-socnets">
                            <div class="la-socnet fb"><span></span></div>
                            <div class="la-socnet tw"><span></span></div>
                        </div>
                        <div class="la-author">
                            <div class="la-author-ava" [style.background-image]="'url(../../assets/images/users/ava-test.gif)'"></div>
                            <div class="la-author-name"><a href="#">Admin</a></div>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class="la-imgwrap">
                    <figure [style.background-image]="'url(/assets/images/test1.jpg)'"></figure>
                </div>                
                <div class="la-main">
                    <div class="la-top">
                        <div class="la-cat"><a href="#">Космос</a></div>
                        <div class="la-date">8 февраля 2020, 23:20</div>
                        <div class="la-comments">954</div>
                        <div class="la-views">461</div>
                    </div>
                    <div class="la-title"><a href="#">Заголовок статьи длинный длинный очень длинный-предлинный заголовище</a></div>
                    <div class="la-bottom">
                        <div class="la-socnets">
                            <div class="la-socnet fb"><span></span></div>
                            <div class="la-socnet tw"><span></span></div>
                        </div>
                        <div class="la-author">
                            <div class="la-author-ava" [style.background-image]="'url(../../assets/images/users/ava-test.gif)'"></div>
                            <div class="la-author-name"><a href="#">Admin</a></div>
                        </div>
                    </div>
                </div>
            </article>
            <article>
                <div class="la-imgwrap">
                    <figure [style.background-image]="'url(/assets/images/test1.jpg)'"></figure>
                </div>                
                <div class="la-main">
                    <div class="la-top">
                        <div class="la-cat"><a href="#">Космос</a></div>
                        <div class="la-date">8 февраля 2020, 23:20</div>
                        <div class="la-comments">954</div>
                        <div class="la-views">461</div>
                    </div>
                    <div class="la-title"><a href="#">Заголовок статьи длинный длинный очень длинный-предлинный заголовище</a></div>
                    <div class="la-bottom">
                        <div class="la-socnets">
                            <div class="la-socnet fb"><span></span></div>
                            <div class="la-socnet tw"><span></span></div>
                        </div>
                        <div class="la-author">
                            <div class="la-author-ava" [style.background-image]="'url(../../assets/images/users/ava-test.gif)'"></div>
                            <div class="la-author-name"><a href="#">Admin</a></div>
                        </div>
                    </div>
                </div>
            </article>                                         
            <div class="la-paging">
                <ul>
                    <li class="lt disabled"></li><li class="active">1</li><li>2</li><li class="ellipsis">...</li><li>10</li><li class="gt"></li>
                </ul>
            </div>
        </div>
    </main>
    <aside>
        <the-sidebar></the-sidebar>
    </aside>    
</div>
