<div class="content">
    <div class="content-head">
        <h1>Home</h1>
        <div class="content-dash">
            
        </div>
    </div>    
    <div class="data">
        [dashboard?]
        <!--
        
        
        <br><br>
        <div>-------------------</div>
        <br><br>

        <form>
            <div class="data-form">            
                <div class="df-title">Field name:</div>
                <div class="df-inputwrap"><input type="text" value="test"></div>
                <div class="df-title">Field name:</div>
                <div class="df-inputwrap"><input type="text" value="test"></div>                
                <div class="df-title">Field name:</div>
                <div class="df-inputwrap"><input type="checkbox"></div>                
                <div class="df-title">Field name:</div>
                <div class="df-inputwrap"><select><option>Option 1</option><option>Option 2</option></select></div>
                <div class="df-title">Field name:</div>
                <div class="df-inputwrap"><editor apiKey="vyqpgkbwnitqsjn9livngxdsuxggz6aowmwwx6d1spe78nnv" [init]="tinyInit ()"></editor></div>                
                <div class="df-title"></div>
                <div class="df-inputwrap"><button>Save</button></div>                
            </div>
        </form>

        <loading-table></loading-table>
        -->
    </div>
</div>
