@import "../../../common.styles/var";

.lastarticles {
    margin: 0 0 80px 0; 
    .la-content {
        position: relative;
        article {
            @media (min-width:0) {display: block;}
            @media (min-width:640px) {display: flex;}
            justify-content: space-between; margin: 0 0 40px 0;
            .la-imgwrap {
                @media (min-width:0) {width:100%; margin: 0 0 20px 0;}
                @media (min-width:640px) {width:30%; margin: 0;}
                overflow: hidden;
                figure {padding-bottom: 75%; background-size: cover; background-position: center top; margin: 0; cursor: pointer;}
            }        
            .la-main {
                @media (min-width:0) {width:100%;}
                @media (min-width:640px) {width:67%;}
                overflow: hidden;
                .la-top {
                    display: flex; margin: 0 0 10px 0; align-items: center; flex-wrap: wrap;
                    .la-cat {
                        @media (min-width:0) {margin-right: 10px;}
                        @media (min-width:640px) {margin-right: 20px;}                     
                        margin-bottom: 10px;
                        a, a:visited {color: #fff; font-family: "teko", Arial, Helvetica, sans-serif; font-size: 18px; letter-spacing: 3px; text-transform: uppercase; text-decoration: none; display: inline-block; background-color: $color-blue; padding: 5px; transition: background-color 0.3s ease 0s; white-space: nowrap;}
                        a:hover {background-color: $color-blue-dark;}
                    }
                    .la-date {
                        @media (min-width:0) {margin-right: 10px;}
                        @media (min-width:640px) {margin-right: 20px;}    
                        color: $color-grey-light; letter-spacing: 1px; white-space: nowrap; font-size: 12px; margin-bottom: 10px;
                        &::before {font-family: "ionicons"; content: "\f2d1"; font-size: 16px; display: inline-block; margin-right: 5px;}
                    }                
                    .la-comments {
                        @media (min-width:0) {margin-right: 10px;}
                        @media (min-width:640px) {margin-right: 20px;}
                        font-size: 12px; color: $color-grey-light; white-space: nowrap; margin-bottom: 10px;
                        &::before {font-family: "ionicons"; content: "\f11a"; font-size: 16px; display: inline-block; margin-right: 5px;}
                    }
                    .la-views {
                        font-size: 12px; color: $color-grey-light; white-space: nowrap; margin-bottom: 10px;
                        &::before {font-family: "ionicons"; content: "\f133"; font-size: 16px; display: inline-block; margin-right: 5px;}
                    }
                }
                .la-title {
                    font-family: "teko", Arial, Helvetica, sans-serif; font-size: 24px; margin: 0 0 20px 0;
                    a, a:visited {color: #000; text-decoration: none;}
                    a:hover {color: $color-blue;}
                }
                .la-bottom {
                    display: flex; align-items: center;
                    .la-socnets {
                        display: flex; margin-right: 15px; 
                        .la-socnet {
                            width:30px; height: 30px; border-radius: 15px; border:1px $color-grey-light solid; margin-right: 5px; cursor: pointer; color: $color-grey-light; text-align: center; font-size: 18px; line-height: 28px; transition: all 0.3s ease 0s;
                            span::after {font-family: "ionicons";}
                            &.fb {
                                &:hover {border-color: #3b5998; color: #3b5998;}                            
                                span::after {content: "\f231";}
                            }    
                            &.tw {
                                &:hover {border-color: #1DA1F2; color: #1DA1F2;}                            
                                span::after {content: "\f243";}
                            }                        
                        }                    
                    }
                    .la-author {
                        display: flex; align-items: center;
                        .la-author-ava {width:30px; height: 30px; border-radius: 15px; background-color: $color-blue; background-size: cover; background-position: center top; margin-right: 10px; cursor: pointer; font-size: 12px; color: #fff; display: flex; justify-content: center; align-items: center;}
                        .la-author-name {
                            font-size: 12px; letter-spacing: 1px;
                            a, a:visited {text-decoration: none; color: $color-grey-light;}                        
                            a:hover {color: $color-blue;}
                        }                    
                    }
                }
            }
            &.loading {
                .la-imgwrap {figure {background-color: #f9f9f9; animation-name: loading-blink; animation-duration: 2s; animation-iteration-count: infinite;}}
                .la-main {
                    label {
                        display: block; height: 20px; margin-bottom: 10px; background: #f9f9f9; animation-name: loading-blink; animation-duration: 2s; animation-iteration-count: infinite;
                        &:nth-child(1) {width:50%;}
                        &:nth-child(3) {width:40%;}
                    }
                }
            }
        }
    }        
}