<div class="content">
    <div class="content-head">
        <h1>{{currentLang.phrases['workspace-home-h1']}}</h1>
        <div class="content-dash">
            
        </div>
    </div>    
    <div class="data">
        <div id="dashboard">
            <div class="dash">
                <div class="dash-wrap">
                    <div class="dash-head">{{currentLang.phrases['workspace-home-apm']}}</div>
                    <div class="dash-content">
                        <articles-per-month></articles-per-month>
                    </div>                    
                </div>                
            </div>
            <div class="dash">
                <div class="dash-wrap">
                    <div class="dash-head">{{currentLang.phrases['workspace-home-apd']}}</div>
                    <div class="dash-content">
                        <articles-per-day></articles-per-day>
                    </div>
                </div>                
            </div>
            <div class="dash">
                <div class="dash-wrap">
                    <div class="dash-head">{{currentLang.phrases['workspace-home-apc']}}</div>
                    <div class="dash-content">
                        <articles-per-category></articles-per-category>
                    </div>
                </div>                
            </div>
            <div class="dash">
                <div class="dash-wrap">
                    <div class="dash-head">{{currentLang.phrases['workspace-home-summary']}}</div>
                    <div class="dash-content">
                        <the-summary></the-summary>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>
