<!-- main header -->
<header id="main">
    <div id="h-top">
        <div class="h-content">
            <div class="h-menu">
                <nav class="h-nav-top">
                    <ul>
                        <li *ngFor="let p of pages"><a routerLink="/{{currentLang.slug}}/{{p.slug}}" [innerHTML]="p.name[currentLang._id]" [class]="url[2] === p.slug ? 'active' : ''"></a></li>                        
                    </ul>
                </nav>
            </div>				
        </div>			
    </div>
    <div id="h-middle">
        <div class="h-content">		
            <div id="h-middle-content">
                <div id="h-logo" routerLink="/{{currentLang.slug}}">
                    <div id="h-logo-top"><span>{{currentLang.s('sitename1')}}</span><span>{{currentLang.s('sitename2')}}</span></div>
                    <div id="h-logo-bottom">{{currentLang.s('sitename3')}}</div>
                </div>
            </div>				
        </div>			
    </div>
    <div id="h-bottom">
        <div class="h-content">
            <div class="h-menu">
                <nav class="h-nav-bottom">
                    <ul>
                        <li><a routerLink="/{{currentLang.slug}}" [class.active]="url.length < 3">{{currentLang.s('home')}}</a></li>
                        <li *ngFor="let c of categories"><a [class.active]="url[3] === c.slug" routerLink="/{{currentLang.slug}}/catalogue/category/{{c.slug}}" [innerHTML]="c.name[currentLang._id]"></a></li>
                    </ul>
                </nav>
                <div class="h-dash">                    
                    <div class="h-langs">
                        <ul>
                            <li *ngFor="let l of langs"><a [class]="l._id === currentLang._id ? 'active' : ''" [routerLink]="getLangLink(l.slug)">{{l.name}}</a></li>                            
                        </ul>
                    </div>
                    <span class="h-btn h-btn-search" title="{{currentLang.s('search')}}"></span>
                    <span class="h-btn h-btn-login" title="{{currentLang.s('login')}}"></span>
                </div>
            </div>			
        </div>			
    </div>
</header>

<!-- sticky header -->
<header id="sticky" #sticky [class]="stickyVisible ? 'visible' : ''">
    <div class="h-content">
        <div class="h-menu">
            <nav class="h-nav-bottom">
                <ul>
                    <li><a routerLink="/{{currentLang.slug}}" [class.active]="url.length < 3">{{currentLang.s('home')}}</a></li>
                    <li *ngFor="let c of categories"><a [class.active]="url[3] === c.slug" routerLink="/{{currentLang.slug}}/catalogue/category/{{c.slug}}" [innerHTML]="c.name[currentLang._id]"></a></li>
                </ul>
            </nav>
            <div class="h-dash">
                <div class="h-langs">
                    <ul>
                        <li *ngFor="let l of langs"><a [class]="l._id === currentLang._id ? 'active' : ''" [routerLink]="getLangLink(l.slug)">{{l.name}}</a></li>                            
                    </ul>
                </div>
                <span class="h-btn h-btn-search" title="{{currentLang.s('search')}}"></span>
                <span class="h-btn h-btn-login" title="{{currentLang.s('login')}}"></span>
            </div>
        </div>			
    </div>			
</header>

<!-- mobile header -->
<header id="mobile">
    <div id="hm-logo" routerLink="/{{currentLang.slug}}"><span>{{currentLang.s('sitename1')}}</span><span>{{currentLang.s('sitename2')}}</span></div>
    <div id="hm-dash">
        <div class="hm-btn hm-search" title="{{currentLang.s('search')}}"><span></span></div>
        <div class="hm-btn hm-login" title="{{currentLang.s('login')}}"><span></span></div>
    </div>    
</header>

<!-- mobile menu -->
<div id="mm-overlay" [class]="mmActive ? 'active' : ''" (click)="mmActive = false"></div>
<div id="mm" [class]="mmActive ? 'active' : ''">
    <div id="mm-content">
        <div id="mm-langs">
            <ul>
                <li *ngFor="let l of langs"><a [class]="l._id === currentLang._id ? 'active' : ''" [routerLink]="getLangLink(l.slug)">{{l.name}}</a></li>                            
            </ul>
        </div>
        <div id="mm-menu">
            <nav>
                <ul>
                    <li><a routerLink="/{{currentLang.slug}}" [class.active]="url.length < 3">{{currentLang.s('home')}}</a></li>
                    <li *ngFor="let c of categories"><a [class.active]="url[3] === c.slug" routerLink="/{{currentLang.slug}}/catalogue/category/{{c.slug}}" [innerHTML]="c.name[currentLang._id]"></a></li>
                </ul>
            </nav>
            <nav>
                <ul>
                    <li *ngFor="let p of pages"><a routerLink="/{{currentLang.slug}}/{{p.slug}}" [innerHTML]="p.name[currentLang._id]" [class]="url[2] === p.slug ? 'active' : ''"></a></li>                                            
                </ul>
            </nav>            
        </div>        
    </div>    
    <div id="mm-btn" (click)="mmActive = !mmActive;">
        <div id="mm-btn-glyph"></div>
    </div>
</div>

<!-- misc -->
<div id="scrollindicator" #scrollindicator>
    <div id="si-scale" [style.width]="indicatorWidth+'%'"></div>
</div>
