<div class="data-form">            
    <div [class]="isRequired('title') ? 'df-title required' : 'df-title'">{{currentLang.phrases['workspace-usergroups-title']}}:</div>
    <div class="df-inputwrap"><input type="text" name="title" [(ngModel)]="x.title"></div>
    
    <div [class]="isRequired('name') ? 'df-title required' : 'df-title'">{{currentLang.phrases['workspace-usergroups-name']}}:</div>
    <div class="df-inputwrap"><input type="text" name="name" [(ngModel)]="x.name" [disabled]="x.defended"></div>
        
    <div class="df-title"></div>
    <div class="df-inputwrap"><button type="submit">{{currentLang.phrases['workspace-save']}}</button></div>    
</div>
